_3340:UpdateClock.SCAN
_3340:UpdateMultiplier

:33.DESC
:33.EGU
:33.DHLM
:33.DLLM
:33.HLM
:33.LLM
:33.BL
:33.BDST
:33.HTYP
:33.HSET
:33.DIR
:33.OFF
:33.TWV
:33.ACCL
:33.VELO
:33.HACC
:33.HVEL
:33.MINJ
:33.MAXJ
:33.RDBD
:33.RTRY
:33.UINT
:33.PDBD
:33.DRBV
:33.RBV
:33.DVAL
:33.VAL

:34.DESC
:34.EGU
:34.DHLM
:34.DLLM
:34.HLM
:34.LLM
:34.BL
:34.BDST
:34.HTYP
:34.HSET
:34.DIR
:34.OFF
:34.TWV
:34.ACCL
:34.VELO
:34.HACC
:34.HVEL
:34.MINJ
:34.MAXJ
:34.RDBD
:34.RTRY
:34.UINT
:34.PDBD
:34.DRBV
:34.RBV
:34.DVAL
:34.VAL

:35.DESC
:35.EGU
:35.DHLM
:35.DLLM
:35.HLM
:35.LLM
:35.BL
:35.BDST
:35.HTYP
:35.HSET
:35.DIR
:35.OFF
:35.TWV
:35.ACCL
:35.VELO
:35.HACC
:35.HVEL
:35.MINJ
:35.MAXJ
:35.RDBD
:35.RTRY
:35.UINT
:35.PDBD
:35.DRBV
:35.RBV
:35.DVAL
:35.VAL

:36.DESC
:36.EGU
:36.DHLM
:36.DLLM
:36.HLM
:36.LLM
:36.BL
:36.BDST
:36.HTYP
:36.HSET
:36.DIR
:36.OFF
:36.TWV
:36.ACCL
:36.VELO
:36.HACC
:36.HVEL
:36.MINJ
:36.MAXJ
:36.RDBD
:36.RTRY
:36.UINT
:36.PDBD
:36.DRBV
:36.RBV
:36.DVAL
:36.VAL

:37.DESC
:37.EGU
:37.DHLM
:37.DLLM
:37.HLM
:37.LLM
:37.BL
:37.BDST
:37.HTYP
:37.HSET
:37.DIR
:37.OFF
:37.TWV
:37.ACCL
:37.VELO
:37.HACC
:37.HVEL
:37.MINJ
:37.MAXJ
:37.RDBD
:37.RTRY
:37.UINT
:37.PDBD
:37.DRBV
:37.RBV
:37.DVAL
:37.VAL

:38.DESC
:38.EGU
:38.DHLM
:38.DLLM
:38.HLM
:38.LLM
:38.BL
:38.BDST
:38.HTYP
:38.HSET
:38.DIR
:38.OFF
:38.TWV
:38.ACCL
:38.VELO
:38.HACC
:38.HVEL
:38.MINJ
:38.MAXJ
:38.RDBD
:38.RTRY
:38.UINT
:38.PDBD
:38.DRBV
:38.RBV
:38.DVAL
:38.VAL

:39.DESC
:39.EGU
:39.DHLM
:39.DLLM
:39.HLM
:39.LLM
:39.BL
:39.BDST
:39.HTYP
:39.HSET
:39.DIR
:39.OFF
:39.TWV
:39.ACCL
:39.VELO
:39.HACC
:39.HVEL
:39.MINJ
:39.MAXJ
:39.RDBD
:39.RTRY
:39.UINT
:39.PDBD
:39.DRBV
:39.RBV
:39.DVAL
:39.VAL

:40.DESC
:40.EGU
:40.DHLM
:40.DLLM
:40.HLM
:40.LLM
:40.BL
:40.BDST
:40.HTYP
:40.HSET
:40.DIR
:40.OFF
:40.TWV
:40.ACCL
:40.VELO
:40.HACC
:40.HVEL
:40.MINJ
:40.MAXJ
:40.RDBD
:40.RTRY
:40.UINT
:40.PDBD
:40.DRBV
:40.RBV
:40.DVAL
:40.VAL

