$(DEVICE)_$(C1)$(C8):UpdateClock.SCAN
$(DEVICE)_$(C1)$(C8):UpdateMultiplier

$(DEVICE)_$(C1)$(C8).DFUT

$(DEVICE):$(C1).PTYP
$(DEVICE):$(C1).DESC
$(DEVICE):$(C1).VAL
$(DEVICE):$(C1).DVAL
$(DEVICE):$(C1).DRBV
$(DEVICE):$(C1).RBV
$(DEVICE):$(C1).DMOV
$(DEVICE):$(C1).MSTA
$(DEVICE):$(C1).DHLM
$(DEVICE):$(C1).DLLM
$(DEVICE):$(C1).HLM
$(DEVICE):$(C1).LLM
$(DEVICE):$(C1).BL
$(DEVICE):$(C1).BDST
$(DEVICE):$(C1).HTYP
$(DEVICE):$(C1).HSET
$(DEVICE):$(C1).DIR
$(DEVICE):$(C1).OFF
$(DEVICE):$(C1).TWV
$(DEVICE):$(C1).ACCL
$(DEVICE):$(C1).VELO
$(DEVICE):$(C1).HACC
$(DEVICE):$(C1).HVEL
$(DEVICE):$(C1).MINJ
$(DEVICE):$(C1).MAXJ
$(DEVICE):$(C1).RDBD
$(DEVICE):$(C1).RTRY
$(DEVICE):$(C1).UINT
$(DEVICE):$(C1).PDBD

$(DEVICE):$(C2).PTYP
$(DEVICE):$(C2).DESC
$(DEVICE):$(C2).VAL
$(DEVICE):$(C2).DVAL
$(DEVICE):$(C2).DRBV
$(DEVICE):$(C2).RBV
$(DEVICE):$(C2).DMOV
$(DEVICE):$(C2).MSTA
$(DEVICE):$(C2).DHLM
$(DEVICE):$(C2).DLLM
$(DEVICE):$(C2).HLM
$(DEVICE):$(C2).LLM
$(DEVICE):$(C2).BL
$(DEVICE):$(C2).BDST
$(DEVICE):$(C2).HTYP
$(DEVICE):$(C2).HSET
$(DEVICE):$(C2).DIR
$(DEVICE):$(C2).OFF
$(DEVICE):$(C2).TWV
$(DEVICE):$(C2).ACCL
$(DEVICE):$(C2).VELO
$(DEVICE):$(C2).HACC
$(DEVICE):$(C2).HVEL
$(DEVICE):$(C2).MINJ
$(DEVICE):$(C2).MAXJ
$(DEVICE):$(C2).RDBD
$(DEVICE):$(C2).RTRY
$(DEVICE):$(C2).UINT
$(DEVICE):$(C2).PDBD

$(DEVICE):$(C3).PTYP
$(DEVICE):$(C3).DESC
$(DEVICE):$(C3).VAL
$(DEVICE):$(C3).DVAL
$(DEVICE):$(C3).DRBV
$(DEVICE):$(C3).RBV
$(DEVICE):$(C3).DMOV
$(DEVICE):$(C3).MSTA
$(DEVICE):$(C3).DHLM
$(DEVICE):$(C3).DLLM
$(DEVICE):$(C3).HLM
$(DEVICE):$(C3).LLM
$(DEVICE):$(C3).BL
$(DEVICE):$(C3).BDST
$(DEVICE):$(C3).HTYP
$(DEVICE):$(C3).HSET
$(DEVICE):$(C3).DIR
$(DEVICE):$(C3).OFF
$(DEVICE):$(C3).TWV
$(DEVICE):$(C3).ACCL
$(DEVICE):$(C3).VELO
$(DEVICE):$(C3).HACC
$(DEVICE):$(C3).HVEL
$(DEVICE):$(C3).MINJ
$(DEVICE):$(C3).MAXJ
$(DEVICE):$(C3).RDBD
$(DEVICE):$(C3).RTRY
$(DEVICE):$(C3).UINT
$(DEVICE):$(C3).PDBD

$(DEVICE):$(C4).PTYP
$(DEVICE):$(C4).DESC
$(DEVICE):$(C4).VAL
$(DEVICE):$(C4).DVAL
$(DEVICE):$(C4).DRBV
$(DEVICE):$(C4).RBV
$(DEVICE):$(C4).DMOV
$(DEVICE):$(C4).MSTA
$(DEVICE):$(C4).DHLM
$(DEVICE):$(C4).DLLM
$(DEVICE):$(C4).HLM
$(DEVICE):$(C4).LLM
$(DEVICE):$(C4).BL
$(DEVICE):$(C4).BDST
$(DEVICE):$(C4).HTYP
$(DEVICE):$(C4).HSET
$(DEVICE):$(C4).DIR
$(DEVICE):$(C4).OFF
$(DEVICE):$(C4).TWV
$(DEVICE):$(C4).ACCL
$(DEVICE):$(C4).VELO
$(DEVICE):$(C4).HACC
$(DEVICE):$(C4).HVEL
$(DEVICE):$(C4).MINJ
$(DEVICE):$(C4).MAXJ
$(DEVICE):$(C4).RDBD
$(DEVICE):$(C4).RTRY
$(DEVICE):$(C4).UINT
$(DEVICE):$(C4).PDBD

$(DEVICE):$(C5).PTYP
$(DEVICE):$(C5).DESC
$(DEVICE):$(C5).VAL
$(DEVICE):$(C5).DVAL
$(DEVICE):$(C5).DRBV
$(DEVICE):$(C5).RBV
$(DEVICE):$(C5).DMOV
$(DEVICE):$(C5).MSTA
$(DEVICE):$(C5).DHLM
$(DEVICE):$(C5).DLLM
$(DEVICE):$(C5).HLM
$(DEVICE):$(C5).LLM
$(DEVICE):$(C5).BL
$(DEVICE):$(C5).BDST
$(DEVICE):$(C5).HTYP
$(DEVICE):$(C5).HSET
$(DEVICE):$(C5).DIR
$(DEVICE):$(C5).OFF
$(DEVICE):$(C5).TWV
$(DEVICE):$(C5).ACCL
$(DEVICE):$(C5).VELO
$(DEVICE):$(C5).HACC
$(DEVICE):$(C5).HVEL
$(DEVICE):$(C5).MINJ
$(DEVICE):$(C5).MAXJ
$(DEVICE):$(C5).RDBD
$(DEVICE):$(C5).RTRY
$(DEVICE):$(C5).UINT
$(DEVICE):$(C5).PDBD

$(DEVICE):$(C6).PTYP
$(DEVICE):$(C6).DESC
$(DEVICE):$(C6).VAL
$(DEVICE):$(C6).DVAL
$(DEVICE):$(C6).DRBV
$(DEVICE):$(C6).RBV
$(DEVICE):$(C6).DMOV
$(DEVICE):$(C6).MSTA
$(DEVICE):$(C6).DHLM
$(DEVICE):$(C6).DLLM
$(DEVICE):$(C6).HLM
$(DEVICE):$(C6).LLM
$(DEVICE):$(C6).BL
$(DEVICE):$(C6).BDST
$(DEVICE):$(C6).HTYP
$(DEVICE):$(C6).HSET
$(DEVICE):$(C6).DIR
$(DEVICE):$(C6).OFF
$(DEVICE):$(C6).TWV
$(DEVICE):$(C6).ACCL
$(DEVICE):$(C6).VELO
$(DEVICE):$(C6).HACC
$(DEVICE):$(C6).HVEL
$(DEVICE):$(C6).MINJ
$(DEVICE):$(C6).MAXJ
$(DEVICE):$(C6).RDBD
$(DEVICE):$(C6).RTRY
$(DEVICE):$(C6).UINT
$(DEVICE):$(C6).PDBD

$(DEVICE):$(C7).PTYP
$(DEVICE):$(C7).DESC
$(DEVICE):$(C7).VAL
$(DEVICE):$(C7).DVAL
$(DEVICE):$(C7).DRBV
$(DEVICE):$(C7).RBV
$(DEVICE):$(C7).DMOV
$(DEVICE):$(C7).MSTA
$(DEVICE):$(C7).DHLM
$(DEVICE):$(C7).DLLM
$(DEVICE):$(C7).HLM
$(DEVICE):$(C7).LLM
$(DEVICE):$(C7).BL
$(DEVICE):$(C7).BDST
$(DEVICE):$(C7).HTYP
$(DEVICE):$(C7).HSET
$(DEVICE):$(C7).DIR
$(DEVICE):$(C7).OFF
$(DEVICE):$(C7).TWV
$(DEVICE):$(C7).ACCL
$(DEVICE):$(C7).VELO
$(DEVICE):$(C7).HACC
$(DEVICE):$(C7).HVEL
$(DEVICE):$(C7).MINJ
$(DEVICE):$(C7).MAXJ
$(DEVICE):$(C7).RDBD
$(DEVICE):$(C7).RTRY
$(DEVICE):$(C7).UINT
$(DEVICE):$(C7).PDBD

$(DEVICE):$(C8).PTYP
$(DEVICE):$(C8).DESC
$(DEVICE):$(C8).VAL
$(DEVICE):$(C8).DVAL
$(DEVICE):$(C8).DRBV
$(DEVICE):$(C8).RBV
$(DEVICE):$(C8).DMOV
$(DEVICE):$(C8).MSTA
$(DEVICE):$(C8).DHLM
$(DEVICE):$(C8).DLLM
$(DEVICE):$(C8).HLM
$(DEVICE):$(C8).LLM
$(DEVICE):$(C8).BL
$(DEVICE):$(C8).BDST
$(DEVICE):$(C8).HTYP
$(DEVICE):$(C8).HSET
$(DEVICE):$(C8).DIR
$(DEVICE):$(C8).OFF
$(DEVICE):$(C8).TWV
$(DEVICE):$(C8).ACCL
$(DEVICE):$(C8).VELO
$(DEVICE):$(C8).HACC
$(DEVICE):$(C8).HVEL
$(DEVICE):$(C8).MINJ
$(DEVICE):$(C8).MAXJ
$(DEVICE):$(C8).RDBD
$(DEVICE):$(C8).RTRY
$(DEVICE):$(C8).UINT
$(DEVICE):$(C8).PDBD

