_3340:UpdateClock.SCAN    86400    monitor
_3340:UpdateMultiplier    86400    monitor

:33.DESC    86400    monitor
:33.EGU     86400    monitor
:33.VAL     86400    monitor
:33.DVAL    86400    monitor
:33.DRBV    86400    monitor
:33.RBV     86400    monitor
:33.DMOV    86400    monitor
:33.MSTA    86400    monitor
:33.DHLM    86400    monitor
:33.DLLM    86400    monitor
:33.HLM     86400    monitor
:33.LLM     86400    monitor
:33.BL      86400    monitor
:33.BDST    86400    monitor
:33.HTYP    86400    monitor
:33.HSET    86400    monitor
:33.DIR     86400    monitor
:33.OFF     86400    monitor
:33.TWV     86400    monitor
:33.ACCL    86400    monitor
:33.VELO    86400    monitor
:33.HACC    86400    monitor
:33.HVEL    86400    monitor
:33.MINJ    86400    monitor
:33.MAXJ    86400    monitor
:33.RDBD    86400    monitor
:33.RTRY    86400    monitor
:33.UINT    86400    monitor
:33.PDBD    86400    monitor

:34.DESC    86400    monitor
:34.EGU     86400    monitor
:34.VAL     86400    monitor
:34.DVAL    86400    monitor
:34.DRBV    86400    monitor
:34.RBV     86400    monitor
:34.DMOV    86400    monitor
:34.MSTA    86400    monitor
:34.DHLM    86400    monitor
:34.DLLM    86400    monitor
:34.HLM     86400    monitor
:34.LLM     86400    monitor
:34.BL      86400    monitor
:34.BDST    86400    monitor
:34.HTYP    86400    monitor
:34.HSET    86400    monitor
:34.DIR     86400    monitor
:34.OFF     86400    monitor
:34.TWV     86400    monitor
:34.ACCL    86400    monitor
:34.VELO    86400    monitor
:34.HACC    86400    monitor
:34.HVEL    86400    monitor
:34.MINJ    86400    monitor
:34.MAXJ    86400    monitor
:34.RDBD    86400    monitor
:34.RTRY    86400    monitor
:34.UINT    86400    monitor
:34.PDBD    86400    monitor

:35.DESC    86400    monitor
:35.EGU     86400    monitor
:35.VAL     86400    monitor
:35.DVAL    86400    monitor
:35.DRBV    86400    monitor
:35.RBV     86400    monitor
:35.DMOV    86400    monitor
:35.MSTA    86400    monitor
:35.DHLM    86400    monitor
:35.DLLM    86400    monitor
:35.HLM     86400    monitor
:35.LLM     86400    monitor
:35.BL      86400    monitor
:35.BDST    86400    monitor
:35.HTYP    86400    monitor
:35.HSET    86400    monitor
:35.DIR     86400    monitor
:35.OFF     86400    monitor
:35.TWV     86400    monitor
:35.ACCL    86400    monitor
:35.VELO    86400    monitor
:35.HACC    86400    monitor
:35.HVEL    86400    monitor
:35.MINJ    86400    monitor
:35.MAXJ    86400    monitor
:35.RDBD    86400    monitor
:35.RTRY    86400    monitor
:35.UINT    86400    monitor
:35.PDBD    86400    monitor

:36.DESC    86400    monitor
:36.EGU     86400    monitor
:36.VAL     86400    monitor
:36.DVAL    86400    monitor
:36.DRBV    86400    monitor
:36.RBV     86400    monitor
:36.DMOV    86400    monitor
:36.MSTA    86400    monitor
:36.DHLM    86400    monitor
:36.DLLM    86400    monitor
:36.HLM     86400    monitor
:36.LLM     86400    monitor
:36.BL      86400    monitor
:36.BDST    86400    monitor
:36.HTYP    86400    monitor
:36.HSET    86400    monitor
:36.DIR     86400    monitor
:36.OFF     86400    monitor
:36.TWV     86400    monitor
:36.ACCL    86400    monitor
:36.VELO    86400    monitor
:36.HACC    86400    monitor
:36.HVEL    86400    monitor
:36.MINJ    86400    monitor
:36.MAXJ    86400    monitor
:36.RDBD    86400    monitor
:36.RTRY    86400    monitor
:36.UINT    86400    monitor
:36.PDBD    86400    monitor

:37.DESC    86400    monitor
:37.EGU     86400    monitor
:37.VAL     86400    monitor
:37.DVAL    86400    monitor
:37.DRBV    86400    monitor
:37.RBV     86400    monitor
:37.DMOV    86400    monitor
:37.MSTA    86400    monitor
:37.DHLM    86400    monitor
:37.DLLM    86400    monitor
:37.HLM     86400    monitor
:37.LLM     86400    monitor
:37.BL      86400    monitor
:37.BDST    86400    monitor
:37.HTYP    86400    monitor
:37.HSET    86400    monitor
:37.DIR     86400    monitor
:37.OFF     86400    monitor
:37.TWV     86400    monitor
:37.ACCL    86400    monitor
:37.VELO    86400    monitor
:37.HACC    86400    monitor
:37.HVEL    86400    monitor
:37.MINJ    86400    monitor
:37.MAXJ    86400    monitor
:37.RDBD    86400    monitor
:37.RTRY    86400    monitor
:37.UINT    86400    monitor
:37.PDBD    86400    monitor

:38.DESC    86400    monitor
:38.EGU     86400    monitor
:38.VAL     86400    monitor
:38.DVAL    86400    monitor
:38.DRBV    86400    monitor
:38.RBV     86400    monitor
:38.DMOV    86400    monitor
:38.MSTA    86400    monitor
:38.DHLM    86400    monitor
:38.DLLM    86400    monitor
:38.HLM     86400    monitor
:38.LLM     86400    monitor
:38.BL      86400    monitor
:38.BDST    86400    monitor
:38.HTYP    86400    monitor
:38.HSET    86400    monitor
:38.DIR     86400    monitor
:38.OFF     86400    monitor
:38.TWV     86400    monitor
:38.ACCL    86400    monitor
:38.VELO    86400    monitor
:38.HACC    86400    monitor
:38.HVEL    86400    monitor
:38.MINJ    86400    monitor
:38.MAXJ    86400    monitor
:38.RDBD    86400    monitor
:38.RTRY    86400    monitor
:38.UINT    86400    monitor
:38.PDBD    86400    monitor

:39.DESC    86400    monitor
:39.EGU     86400    monitor
:39.VAL     86400    monitor
:39.DVAL    86400    monitor
:39.DRBV    86400    monitor
:39.RBV     86400    monitor
:39.DMOV    86400    monitor
:39.MSTA    86400    monitor
:39.DHLM    86400    monitor
:39.DLLM    86400    monitor
:39.HLM     86400    monitor
:39.LLM     86400    monitor
:39.BL      86400    monitor
:39.BDST    86400    monitor
:39.HTYP    86400    monitor
:39.HSET    86400    monitor
:39.DIR     86400    monitor
:39.OFF     86400    monitor
:39.TWV     86400    monitor
:39.ACCL    86400    monitor
:39.VELO    86400    monitor
:39.HACC    86400    monitor
:39.HVEL    86400    monitor
:39.MINJ    86400    monitor
:39.MAXJ    86400    monitor
:39.RDBD    86400    monitor
:39.RTRY    86400    monitor
:39.UINT    86400    monitor
:39.PDBD    86400    monitor

:40.DESC    86400    monitor
:40.EGU     86400    monitor
:40.VAL     86400    monitor
:40.DVAL    86400    monitor
:40.DRBV    86400    monitor
:40.RBV     86400    monitor
:40.DMOV    86400    monitor
:40.MSTA    86400    monitor
:40.DHLM    86400    monitor
:40.DLLM    86400    monitor
:40.HLM     86400    monitor
:40.LLM     86400    monitor
:40.BL      86400    monitor
:40.BDST    86400    monitor
:40.HTYP    86400    monitor
:40.HSET    86400    monitor
:40.DIR     86400    monitor
:40.OFF     86400    monitor
:40.TWV     86400    monitor
:40.ACCL    86400    monitor
:40.VELO    86400    monitor
:40.HACC    86400    monitor
:40.HVEL    86400    monitor
:40.MINJ    86400    monitor
:40.MAXJ    86400    monitor
:40.RDBD    86400    monitor
:40.RTRY    86400    monitor
:40.UINT    86400    monitor
:40.PDBD    86400    monitor

