$(DEVICE)_1724:UpdateMultiplier

$(DEVICE)_1724.DFUT

$(DEVICE):17.PTYP
$(DEVICE):17.DESC
$(DEVICE):17.DHLM
$(DEVICE):17.DLLM
$(DEVICE):17.HLM
$(DEVICE):17.LLM
$(DEVICE):17.BL
$(DEVICE):17.BDST
$(DEVICE):17.HTYP
$(DEVICE):17.HSET
$(DEVICE):17.DIR
$(DEVICE):17.OFF
$(DEVICE):17.TWV
$(DEVICE):17.ACCL
$(DEVICE):17.VELO
$(DEVICE):17.HACC
$(DEVICE):17.HVEL
$(DEVICE):17.MINJ
$(DEVICE):17.MAXJ
$(DEVICE):17.RDBD
$(DEVICE):17.RTRY
$(DEVICE):17.UINT
$(DEVICE):17.PDBD
$(DEVICE):17.DRBV
$(DEVICE):17.RBV
$(DEVICE):17.DVAL
$(DEVICE):17.VAL

$(DEVICE):18.PTYP
$(DEVICE):18.DESC
$(DEVICE):18.DHLM
$(DEVICE):18.DLLM
$(DEVICE):18.HLM
$(DEVICE):18.LLM
$(DEVICE):18.BL
$(DEVICE):18.BDST
$(DEVICE):18.HTYP
$(DEVICE):18.HSET
$(DEVICE):18.DIR
$(DEVICE):18.OFF
$(DEVICE):18.TWV
$(DEVICE):18.ACCL
$(DEVICE):18.VELO
$(DEVICE):18.HACC
$(DEVICE):18.HVEL
$(DEVICE):18.MINJ
$(DEVICE):18.MAXJ
$(DEVICE):18.RDBD
$(DEVICE):18.RTRY
$(DEVICE):18.UINT
$(DEVICE):18.PDBD
$(DEVICE):18.DRBV
$(DEVICE):18.RBV
$(DEVICE):18.DVAL
$(DEVICE):18.VAL

$(DEVICE):19.PTYP
$(DEVICE):19.DESC
$(DEVICE):19.DHLM
$(DEVICE):19.DLLM
$(DEVICE):19.HLM
$(DEVICE):19.LLM
$(DEVICE):19.BL
$(DEVICE):19.BDST
$(DEVICE):19.HTYP
$(DEVICE):19.HSET
$(DEVICE):19.DIR
$(DEVICE):19.OFF
$(DEVICE):19.TWV
$(DEVICE):19.ACCL
$(DEVICE):19.VELO
$(DEVICE):19.HACC
$(DEVICE):19.HVEL
$(DEVICE):19.MINJ
$(DEVICE):19.MAXJ
$(DEVICE):19.RDBD
$(DEVICE):19.RTRY
$(DEVICE):19.UINT
$(DEVICE):19.PDBD
$(DEVICE):19.DRBV
$(DEVICE):19.RBV
$(DEVICE):19.DVAL
$(DEVICE):19.VAL

$(DEVICE):20.PTYP
$(DEVICE):20.DESC
$(DEVICE):20.DHLM
$(DEVICE):20.DLLM
$(DEVICE):20.HLM
$(DEVICE):20.LLM
$(DEVICE):20.BL
$(DEVICE):20.BDST
$(DEVICE):20.HTYP
$(DEVICE):20.HSET
$(DEVICE):20.DIR
$(DEVICE):20.OFF
$(DEVICE):20.TWV
$(DEVICE):20.ACCL
$(DEVICE):20.VELO
$(DEVICE):20.HACC
$(DEVICE):20.HVEL
$(DEVICE):20.MINJ
$(DEVICE):20.MAXJ
$(DEVICE):20.RDBD
$(DEVICE):20.RTRY
$(DEVICE):20.UINT
$(DEVICE):20.PDBD
$(DEVICE):20.DRBV
$(DEVICE):20.RBV
$(DEVICE):20.DVAL
$(DEVICE):20.VAL

$(DEVICE):21.PTYP
$(DEVICE):21.DESC
$(DEVICE):21.DHLM
$(DEVICE):21.DLLM
$(DEVICE):21.HLM
$(DEVICE):21.LLM
$(DEVICE):21.BL
$(DEVICE):21.BDST
$(DEVICE):21.HTYP
$(DEVICE):21.HSET
$(DEVICE):21.DIR
$(DEVICE):21.OFF
$(DEVICE):21.TWV
$(DEVICE):21.ACCL
$(DEVICE):21.VELO
$(DEVICE):21.HACC
$(DEVICE):21.HVEL
$(DEVICE):21.MINJ
$(DEVICE):21.MAXJ
$(DEVICE):21.RDBD
$(DEVICE):21.RTRY
$(DEVICE):21.UINT
$(DEVICE):21.PDBD
$(DEVICE):21.DRBV
$(DEVICE):21.RBV
$(DEVICE):21.DVAL
$(DEVICE):21.VAL

$(DEVICE):22.PTYP
$(DEVICE):22.DESC
$(DEVICE):22.DHLM
$(DEVICE):22.DLLM
$(DEVICE):22.HLM
$(DEVICE):22.LLM
$(DEVICE):22.BL
$(DEVICE):22.BDST
$(DEVICE):22.HTYP
$(DEVICE):22.HSET
$(DEVICE):22.DIR
$(DEVICE):22.OFF
$(DEVICE):22.TWV
$(DEVICE):22.ACCL
$(DEVICE):22.VELO
$(DEVICE):22.HACC
$(DEVICE):22.HVEL
$(DEVICE):22.MINJ
$(DEVICE):22.MAXJ
$(DEVICE):22.RDBD
$(DEVICE):22.RTRY
$(DEVICE):22.UINT
$(DEVICE):22.PDBD
$(DEVICE):22.DRBV
$(DEVICE):22.RBV
$(DEVICE):22.DVAL
$(DEVICE):22.VAL

$(DEVICE):23.PTYP
$(DEVICE):23.DESC
$(DEVICE):23.DHLM
$(DEVICE):23.DLLM
$(DEVICE):23.HLM
$(DEVICE):23.LLM
$(DEVICE):23.BL
$(DEVICE):23.BDST
$(DEVICE):23.HTYP
$(DEVICE):23.HSET
$(DEVICE):23.DIR
$(DEVICE):23.OFF
$(DEVICE):23.TWV
$(DEVICE):23.ACCL
$(DEVICE):23.VELO
$(DEVICE):23.HACC
$(DEVICE):23.HVEL
$(DEVICE):23.MINJ
$(DEVICE):23.MAXJ
$(DEVICE):23.RDBD
$(DEVICE):23.RTRY
$(DEVICE):23.UINT
$(DEVICE):23.PDBD
$(DEVICE):23.DRBV
$(DEVICE):23.RBV
$(DEVICE):23.DVAL
$(DEVICE):23.VAL

$(DEVICE):24.PTYP
$(DEVICE):24.DESC
$(DEVICE):24.DHLM
$(DEVICE):24.DLLM
$(DEVICE):24.HLM
$(DEVICE):24.LLM
$(DEVICE):24.BL
$(DEVICE):24.BDST
$(DEVICE):24.HTYP
$(DEVICE):24.HSET
$(DEVICE):24.DIR
$(DEVICE):24.OFF
$(DEVICE):24.TWV
$(DEVICE):24.ACCL
$(DEVICE):24.VELO
$(DEVICE):24.HACC
$(DEVICE):24.HVEL
$(DEVICE):24.MINJ
$(DEVICE):24.MAXJ
$(DEVICE):24.RDBD
$(DEVICE):24.RTRY
$(DEVICE):24.UINT
$(DEVICE):24.PDBD
$(DEVICE):24.DRBV
$(DEVICE):24.RBV
$(DEVICE):24.DVAL
$(DEVICE):24.VAL

