$(DEVICE)_3340:UpdateClock.SCAN    86400    monitor
$(DEVICE)_3340:UpdateMultiplier    86400    monitor

$(DEVICE)_3340.DFUT                86400    monitor

$(DEVICE):33.PTYP    86400    monitor
$(DEVICE):33.DESC    86400    monitor
$(DEVICE):33.EGU     86400    monitor
$(DEVICE):33.VAL     86400    monitor
$(DEVICE):33.DVAL    86400    monitor
$(DEVICE):33.DRBV    86400    monitor
$(DEVICE):33.RBV     86400    monitor
$(DEVICE):33.DMOV    86400    monitor
$(DEVICE):33.MSTA    86400    monitor
$(DEVICE):33.DHLM    86400    monitor
$(DEVICE):33.DLLM    86400    monitor
$(DEVICE):33.HLM     86400    monitor
$(DEVICE):33.LLM     86400    monitor
$(DEVICE):33.BL      86400    monitor
$(DEVICE):33.BDST    86400    monitor
$(DEVICE):33.HTYP    86400    monitor
$(DEVICE):33.HSET    86400    monitor
$(DEVICE):33.DIR     86400    monitor
$(DEVICE):33.OFF     86400    monitor
$(DEVICE):33.TWV     86400    monitor
$(DEVICE):33.ACCL    86400    monitor
$(DEVICE):33.VELO    86400    monitor
$(DEVICE):33.HACC    86400    monitor
$(DEVICE):33.HVEL    86400    monitor
$(DEVICE):33.MINJ    86400    monitor
$(DEVICE):33.MAXJ    86400    monitor
$(DEVICE):33.RDBD    86400    monitor
$(DEVICE):33.RTRY    86400    monitor
$(DEVICE):33.UINT    86400    monitor
$(DEVICE):33.PDBD    86400    monitor

$(DEVICE):34.PTYP    86400    monitor
$(DEVICE):34.DESC    86400    monitor
$(DEVICE):34.EGU     86400    monitor
$(DEVICE):34.VAL     86400    monitor
$(DEVICE):34.DVAL    86400    monitor
$(DEVICE):34.DRBV    86400    monitor
$(DEVICE):34.RBV     86400    monitor
$(DEVICE):34.DMOV    86400    monitor
$(DEVICE):34.MSTA    86400    monitor
$(DEVICE):34.DHLM    86400    monitor
$(DEVICE):34.DLLM    86400    monitor
$(DEVICE):34.HLM     86400    monitor
$(DEVICE):34.LLM     86400    monitor
$(DEVICE):34.BL      86400    monitor
$(DEVICE):34.BDST    86400    monitor
$(DEVICE):34.HTYP    86400    monitor
$(DEVICE):34.HSET    86400    monitor
$(DEVICE):34.DIR     86400    monitor
$(DEVICE):34.OFF     86400    monitor
$(DEVICE):34.TWV     86400    monitor
$(DEVICE):34.ACCL    86400    monitor
$(DEVICE):34.VELO    86400    monitor
$(DEVICE):34.HACC    86400    monitor
$(DEVICE):34.HVEL    86400    monitor
$(DEVICE):34.MINJ    86400    monitor
$(DEVICE):34.MAXJ    86400    monitor
$(DEVICE):34.RDBD    86400    monitor
$(DEVICE):34.RTRY    86400    monitor
$(DEVICE):34.UINT    86400    monitor
$(DEVICE):34.PDBD    86400    monitor

$(DEVICE):35.PTYP    86400    monitor
$(DEVICE):35.DESC    86400    monitor
$(DEVICE):35.EGU     86400    monitor
$(DEVICE):35.VAL     86400    monitor
$(DEVICE):35.DVAL    86400    monitor
$(DEVICE):35.DRBV    86400    monitor
$(DEVICE):35.RBV     86400    monitor
$(DEVICE):35.DMOV    86400    monitor
$(DEVICE):35.MSTA    86400    monitor
$(DEVICE):35.DHLM    86400    monitor
$(DEVICE):35.DLLM    86400    monitor
$(DEVICE):35.HLM     86400    monitor
$(DEVICE):35.LLM     86400    monitor
$(DEVICE):35.BL      86400    monitor
$(DEVICE):35.BDST    86400    monitor
$(DEVICE):35.HTYP    86400    monitor
$(DEVICE):35.HSET    86400    monitor
$(DEVICE):35.DIR     86400    monitor
$(DEVICE):35.OFF     86400    monitor
$(DEVICE):35.TWV     86400    monitor
$(DEVICE):35.ACCL    86400    monitor
$(DEVICE):35.VELO    86400    monitor
$(DEVICE):35.HACC    86400    monitor
$(DEVICE):35.HVEL    86400    monitor
$(DEVICE):35.MINJ    86400    monitor
$(DEVICE):35.MAXJ    86400    monitor
$(DEVICE):35.RDBD    86400    monitor
$(DEVICE):35.RTRY    86400    monitor
$(DEVICE):35.UINT    86400    monitor
$(DEVICE):35.PDBD    86400    monitor

$(DEVICE):36.PTYP    86400    monitor
$(DEVICE):36.DESC    86400    monitor
$(DEVICE):36.EGU     86400    monitor
$(DEVICE):36.VAL     86400    monitor
$(DEVICE):36.DVAL    86400    monitor
$(DEVICE):36.DRBV    86400    monitor
$(DEVICE):36.RBV     86400    monitor
$(DEVICE):36.DMOV    86400    monitor
$(DEVICE):36.MSTA    86400    monitor
$(DEVICE):36.DHLM    86400    monitor
$(DEVICE):36.DLLM    86400    monitor
$(DEVICE):36.HLM     86400    monitor
$(DEVICE):36.LLM     86400    monitor
$(DEVICE):36.BL      86400    monitor
$(DEVICE):36.BDST    86400    monitor
$(DEVICE):36.HTYP    86400    monitor
$(DEVICE):36.HSET    86400    monitor
$(DEVICE):36.DIR     86400    monitor
$(DEVICE):36.OFF     86400    monitor
$(DEVICE):36.TWV     86400    monitor
$(DEVICE):36.ACCL    86400    monitor
$(DEVICE):36.VELO    86400    monitor
$(DEVICE):36.HACC    86400    monitor
$(DEVICE):36.HVEL    86400    monitor
$(DEVICE):36.MINJ    86400    monitor
$(DEVICE):36.MAXJ    86400    monitor
$(DEVICE):36.RDBD    86400    monitor
$(DEVICE):36.RTRY    86400    monitor
$(DEVICE):36.UINT    86400    monitor
$(DEVICE):36.PDBD    86400    monitor

$(DEVICE):37.PTYP    86400    monitor
$(DEVICE):37.DESC    86400    monitor
$(DEVICE):37.EGU     86400    monitor
$(DEVICE):37.VAL     86400    monitor
$(DEVICE):37.DVAL    86400    monitor
$(DEVICE):37.DRBV    86400    monitor
$(DEVICE):37.RBV     86400    monitor
$(DEVICE):37.DMOV    86400    monitor
$(DEVICE):37.MSTA    86400    monitor
$(DEVICE):37.DHLM    86400    monitor
$(DEVICE):37.DLLM    86400    monitor
$(DEVICE):37.HLM     86400    monitor
$(DEVICE):37.LLM     86400    monitor
$(DEVICE):37.BL      86400    monitor
$(DEVICE):37.BDST    86400    monitor
$(DEVICE):37.HTYP    86400    monitor
$(DEVICE):37.HSET    86400    monitor
$(DEVICE):37.DIR     86400    monitor
$(DEVICE):37.OFF     86400    monitor
$(DEVICE):37.TWV     86400    monitor
$(DEVICE):37.ACCL    86400    monitor
$(DEVICE):37.VELO    86400    monitor
$(DEVICE):37.HACC    86400    monitor
$(DEVICE):37.HVEL    86400    monitor
$(DEVICE):37.MINJ    86400    monitor
$(DEVICE):37.MAXJ    86400    monitor
$(DEVICE):37.RDBD    86400    monitor
$(DEVICE):37.RTRY    86400    monitor
$(DEVICE):37.UINT    86400    monitor
$(DEVICE):37.PDBD    86400    monitor

$(DEVICE):38.PTYP    86400    monitor
$(DEVICE):38.DESC    86400    monitor
$(DEVICE):38.EGU     86400    monitor
$(DEVICE):38.VAL     86400    monitor
$(DEVICE):38.DVAL    86400    monitor
$(DEVICE):38.DRBV    86400    monitor
$(DEVICE):38.RBV     86400    monitor
$(DEVICE):38.DMOV    86400    monitor
$(DEVICE):38.MSTA    86400    monitor
$(DEVICE):38.DHLM    86400    monitor
$(DEVICE):38.DLLM    86400    monitor
$(DEVICE):38.HLM     86400    monitor
$(DEVICE):38.LLM     86400    monitor
$(DEVICE):38.BL      86400    monitor
$(DEVICE):38.BDST    86400    monitor
$(DEVICE):38.HTYP    86400    monitor
$(DEVICE):38.HSET    86400    monitor
$(DEVICE):38.DIR     86400    monitor
$(DEVICE):38.OFF     86400    monitor
$(DEVICE):38.TWV     86400    monitor
$(DEVICE):38.ACCL    86400    monitor
$(DEVICE):38.VELO    86400    monitor
$(DEVICE):38.HACC    86400    monitor
$(DEVICE):38.HVEL    86400    monitor
$(DEVICE):38.MINJ    86400    monitor
$(DEVICE):38.MAXJ    86400    monitor
$(DEVICE):38.RDBD    86400    monitor
$(DEVICE):38.RTRY    86400    monitor
$(DEVICE):38.UINT    86400    monitor
$(DEVICE):38.PDBD    86400    monitor

$(DEVICE):39.PTYP    86400    monitor
$(DEVICE):39.DESC    86400    monitor
$(DEVICE):39.EGU     86400    monitor
$(DEVICE):39.VAL     86400    monitor
$(DEVICE):39.DVAL    86400    monitor
$(DEVICE):39.DRBV    86400    monitor
$(DEVICE):39.RBV     86400    monitor
$(DEVICE):39.DMOV    86400    monitor
$(DEVICE):39.MSTA    86400    monitor
$(DEVICE):39.DHLM    86400    monitor
$(DEVICE):39.DLLM    86400    monitor
$(DEVICE):39.HLM     86400    monitor
$(DEVICE):39.LLM     86400    monitor
$(DEVICE):39.BL      86400    monitor
$(DEVICE):39.BDST    86400    monitor
$(DEVICE):39.HTYP    86400    monitor
$(DEVICE):39.HSET    86400    monitor
$(DEVICE):39.DIR     86400    monitor
$(DEVICE):39.OFF     86400    monitor
$(DEVICE):39.TWV     86400    monitor
$(DEVICE):39.ACCL    86400    monitor
$(DEVICE):39.VELO    86400    monitor
$(DEVICE):39.HACC    86400    monitor
$(DEVICE):39.HVEL    86400    monitor
$(DEVICE):39.MINJ    86400    monitor
$(DEVICE):39.MAXJ    86400    monitor
$(DEVICE):39.RDBD    86400    monitor
$(DEVICE):39.RTRY    86400    monitor
$(DEVICE):39.UINT    86400    monitor
$(DEVICE):39.PDBD    86400    monitor

$(DEVICE):40.PTYP    86400    monitor
$(DEVICE):40.DESC    86400    monitor
$(DEVICE):40.EGU     86400    monitor
$(DEVICE):40.VAL     86400    monitor
$(DEVICE):40.DVAL    86400    monitor
$(DEVICE):40.DRBV    86400    monitor
$(DEVICE):40.RBV     86400    monitor
$(DEVICE):40.DMOV    86400    monitor
$(DEVICE):40.MSTA    86400    monitor
$(DEVICE):40.DHLM    86400    monitor
$(DEVICE):40.DLLM    86400    monitor
$(DEVICE):40.HLM     86400    monitor
$(DEVICE):40.LLM     86400    monitor
$(DEVICE):40.BL      86400    monitor
$(DEVICE):40.BDST    86400    monitor
$(DEVICE):40.HTYP    86400    monitor
$(DEVICE):40.HSET    86400    monitor
$(DEVICE):40.DIR     86400    monitor
$(DEVICE):40.OFF     86400    monitor
$(DEVICE):40.TWV     86400    monitor
$(DEVICE):40.ACCL    86400    monitor
$(DEVICE):40.VELO    86400    monitor
$(DEVICE):40.HACC    86400    monitor
$(DEVICE):40.HVEL    86400    monitor
$(DEVICE):40.MINJ    86400    monitor
$(DEVICE):40.MAXJ    86400    monitor
$(DEVICE):40.RDBD    86400    monitor
$(DEVICE):40.RTRY    86400    monitor
$(DEVICE):40.UINT    86400    monitor
$(DEVICE):40.PDBD    86400    monitor

