$(DEVICE)_0108:UpdateClock.SCAN    86400    monitor
$(DEVICE)_0108:UpdateMultiplier    86400    monitor

$(DEVICE)_0108.DFUT                86400    monitor

$(DEVICE):01.PTYP    86400    monitor
$(DEVICE):01.DESC    86400    monitor
$(DEVICE):01.EGU     86400    monitor
$(DEVICE):01.VAL     86400    monitor
$(DEVICE):01.DVAL    86400    monitor
$(DEVICE):01.DRBV    86400    monitor
$(DEVICE):01.RBV     86400    monitor
$(DEVICE):01.DMOV    86400    monitor
$(DEVICE):01.MSTA    86400    monitor
$(DEVICE):01.DHLM    86400    monitor
$(DEVICE):01.DLLM    86400    monitor
$(DEVICE):01.HLM     86400    monitor
$(DEVICE):01.LLM     86400    monitor
$(DEVICE):01.BL      86400    monitor
$(DEVICE):01.BDST    86400    monitor
$(DEVICE):01.HTYP    86400    monitor
$(DEVICE):01.HSET    86400    monitor
$(DEVICE):01.DIR     86400    monitor
$(DEVICE):01.OFF     86400    monitor
$(DEVICE):01.TWV     86400    monitor
$(DEVICE):01.ACCL    86400    monitor
$(DEVICE):01.VELO    86400    monitor
$(DEVICE):01.HACC    86400    monitor
$(DEVICE):01.HVEL    86400    monitor
$(DEVICE):01.MINJ    86400    monitor
$(DEVICE):01.MAXJ    86400    monitor
$(DEVICE):01.RDBD    86400    monitor
$(DEVICE):01.RTRY    86400    monitor
$(DEVICE):01.UINT    86400    monitor
$(DEVICE):01.PDBD    86400    monitor

$(DEVICE):02.PTYP    86400    monitor
$(DEVICE):02.DESC    86400    monitor
$(DEVICE):02.EGU     86400    monitor
$(DEVICE):02.VAL     86400    monitor
$(DEVICE):02.DVAL    86400    monitor
$(DEVICE):02.DRBV    86400    monitor
$(DEVICE):02.RBV     86400    monitor
$(DEVICE):02.DMOV    86400    monitor
$(DEVICE):02.MSTA    86400    monitor
$(DEVICE):02.DHLM    86400    monitor
$(DEVICE):02.DLLM    86400    monitor
$(DEVICE):02.HLM     86400    monitor
$(DEVICE):02.LLM     86400    monitor
$(DEVICE):02.BL      86400    monitor
$(DEVICE):02.BDST    86400    monitor
$(DEVICE):02.HTYP    86400    monitor
$(DEVICE):02.HSET    86400    monitor
$(DEVICE):02.DIR     86400    monitor
$(DEVICE):02.OFF     86400    monitor
$(DEVICE):02.TWV     86400    monitor
$(DEVICE):02.ACCL    86400    monitor
$(DEVICE):02.VELO    86400    monitor
$(DEVICE):02.HACC    86400    monitor
$(DEVICE):02.HVEL    86400    monitor
$(DEVICE):02.MINJ    86400    monitor
$(DEVICE):02.MAXJ    86400    monitor
$(DEVICE):02.RDBD    86400    monitor
$(DEVICE):02.RTRY    86400    monitor
$(DEVICE):02.UINT    86400    monitor
$(DEVICE):02.PDBD    86400    monitor

$(DEVICE):03.PTYP    86400    monitor
$(DEVICE):03.DESC    86400    monitor
$(DEVICE):03.EGU     86400    monitor
$(DEVICE):03.VAL     86400    monitor
$(DEVICE):03.DVAL    86400    monitor
$(DEVICE):03.DRBV    86400    monitor
$(DEVICE):03.RBV     86400    monitor
$(DEVICE):03.DMOV    86400    monitor
$(DEVICE):03.MSTA    86400    monitor
$(DEVICE):03.DHLM    86400    monitor
$(DEVICE):03.DLLM    86400    monitor
$(DEVICE):03.HLM     86400    monitor
$(DEVICE):03.LLM     86400    monitor
$(DEVICE):03.BL      86400    monitor
$(DEVICE):03.BDST    86400    monitor
$(DEVICE):03.HTYP    86400    monitor
$(DEVICE):03.HSET    86400    monitor
$(DEVICE):03.DIR     86400    monitor
$(DEVICE):03.OFF     86400    monitor
$(DEVICE):03.TWV     86400    monitor
$(DEVICE):03.ACCL    86400    monitor
$(DEVICE):03.VELO    86400    monitor
$(DEVICE):03.HACC    86400    monitor
$(DEVICE):03.HVEL    86400    monitor
$(DEVICE):03.MINJ    86400    monitor
$(DEVICE):03.MAXJ    86400    monitor
$(DEVICE):03.RDBD    86400    monitor
$(DEVICE):03.RTRY    86400    monitor
$(DEVICE):03.UINT    86400    monitor
$(DEVICE):03.PDBD    86400    monitor

$(DEVICE):04.PTYP    86400    monitor
$(DEVICE):04.DESC    86400    monitor
$(DEVICE):04.EGU     86400    monitor
$(DEVICE):04.VAL     86400    monitor
$(DEVICE):04.DVAL    86400    monitor
$(DEVICE):04.DRBV    86400    monitor
$(DEVICE):04.RBV     86400    monitor
$(DEVICE):04.DMOV    86400    monitor
$(DEVICE):04.MSTA    86400    monitor
$(DEVICE):04.DHLM    86400    monitor
$(DEVICE):04.DLLM    86400    monitor
$(DEVICE):04.HLM     86400    monitor
$(DEVICE):04.LLM     86400    monitor
$(DEVICE):04.BL      86400    monitor
$(DEVICE):04.BDST    86400    monitor
$(DEVICE):04.HTYP    86400    monitor
$(DEVICE):04.HSET    86400    monitor
$(DEVICE):04.DIR     86400    monitor
$(DEVICE):04.OFF     86400    monitor
$(DEVICE):04.TWV     86400    monitor
$(DEVICE):04.ACCL    86400    monitor
$(DEVICE):04.VELO    86400    monitor
$(DEVICE):04.HACC    86400    monitor
$(DEVICE):04.HVEL    86400    monitor
$(DEVICE):04.MINJ    86400    monitor
$(DEVICE):04.MAXJ    86400    monitor
$(DEVICE):04.RDBD    86400    monitor
$(DEVICE):04.RTRY    86400    monitor
$(DEVICE):04.UINT    86400    monitor
$(DEVICE):04.PDBD    86400    monitor

$(DEVICE):05.PTYP    86400    monitor
$(DEVICE):05.DESC    86400    monitor
$(DEVICE):05.EGU     86400    monitor
$(DEVICE):05.VAL     86400    monitor
$(DEVICE):05.DVAL    86400    monitor
$(DEVICE):05.DRBV    86400    monitor
$(DEVICE):05.RBV     86400    monitor
$(DEVICE):05.DMOV    86400    monitor
$(DEVICE):05.MSTA    86400    monitor
$(DEVICE):05.DHLM    86400    monitor
$(DEVICE):05.DLLM    86400    monitor
$(DEVICE):05.HLM     86400    monitor
$(DEVICE):05.LLM     86400    monitor
$(DEVICE):05.BL      86400    monitor
$(DEVICE):05.BDST    86400    monitor
$(DEVICE):05.HTYP    86400    monitor
$(DEVICE):05.HSET    86400    monitor
$(DEVICE):05.DIR     86400    monitor
$(DEVICE):05.OFF     86400    monitor
$(DEVICE):05.TWV     86400    monitor
$(DEVICE):05.ACCL    86400    monitor
$(DEVICE):05.VELO    86400    monitor
$(DEVICE):05.HACC    86400    monitor
$(DEVICE):05.HVEL    86400    monitor
$(DEVICE):05.MINJ    86400    monitor
$(DEVICE):05.MAXJ    86400    monitor
$(DEVICE):05.RDBD    86400    monitor
$(DEVICE):05.RTRY    86400    monitor
$(DEVICE):05.UINT    86400    monitor
$(DEVICE):05.PDBD    86400    monitor

$(DEVICE):06.PTYP    86400    monitor
$(DEVICE):06.DESC    86400    monitor
$(DEVICE):06.EGU     86400    monitor
$(DEVICE):06.VAL     86400    monitor
$(DEVICE):06.DVAL    86400    monitor
$(DEVICE):06.DRBV    86400    monitor
$(DEVICE):06.RBV     86400    monitor
$(DEVICE):06.DMOV    86400    monitor
$(DEVICE):06.MSTA    86400    monitor
$(DEVICE):06.DHLM    86400    monitor
$(DEVICE):06.DLLM    86400    monitor
$(DEVICE):06.HLM     86400    monitor
$(DEVICE):06.LLM     86400    monitor
$(DEVICE):06.BL      86400    monitor
$(DEVICE):06.BDST    86400    monitor
$(DEVICE):06.HTYP    86400    monitor
$(DEVICE):06.HSET    86400    monitor
$(DEVICE):06.DIR     86400    monitor
$(DEVICE):06.OFF     86400    monitor
$(DEVICE):06.TWV     86400    monitor
$(DEVICE):06.ACCL    86400    monitor
$(DEVICE):06.VELO    86400    monitor
$(DEVICE):06.HACC    86400    monitor
$(DEVICE):06.HVEL    86400    monitor
$(DEVICE):06.MINJ    86400    monitor
$(DEVICE):06.MAXJ    86400    monitor
$(DEVICE):06.RDBD    86400    monitor
$(DEVICE):06.RTRY    86400    monitor
$(DEVICE):06.UINT    86400    monitor
$(DEVICE):06.PDBD    86400    monitor

$(DEVICE):07.PTYP    86400    monitor
$(DEVICE):07.DESC    86400    monitor
$(DEVICE):07.EGU     86400    monitor
$(DEVICE):07.VAL     86400    monitor
$(DEVICE):07.DVAL    86400    monitor
$(DEVICE):07.DRBV    86400    monitor
$(DEVICE):07.RBV     86400    monitor
$(DEVICE):07.DMOV    86400    monitor
$(DEVICE):07.MSTA    86400    monitor
$(DEVICE):07.DHLM    86400    monitor
$(DEVICE):07.DLLM    86400    monitor
$(DEVICE):07.HLM     86400    monitor
$(DEVICE):07.LLM     86400    monitor
$(DEVICE):07.BL      86400    monitor
$(DEVICE):07.BDST    86400    monitor
$(DEVICE):07.HTYP    86400    monitor
$(DEVICE):07.HSET    86400    monitor
$(DEVICE):07.DIR     86400    monitor
$(DEVICE):07.OFF     86400    monitor
$(DEVICE):07.TWV     86400    monitor
$(DEVICE):07.ACCL    86400    monitor
$(DEVICE):07.VELO    86400    monitor
$(DEVICE):07.HACC    86400    monitor
$(DEVICE):07.HVEL    86400    monitor
$(DEVICE):07.MINJ    86400    monitor
$(DEVICE):07.MAXJ    86400    monitor
$(DEVICE):07.RDBD    86400    monitor
$(DEVICE):07.RTRY    86400    monitor
$(DEVICE):07.UINT    86400    monitor
$(DEVICE):07.PDBD    86400    monitor

$(DEVICE):08.PTYP    86400    monitor
$(DEVICE):08.DESC    86400    monitor
$(DEVICE):08.EGU     86400    monitor
$(DEVICE):08.VAL     86400    monitor
$(DEVICE):08.DVAL    86400    monitor
$(DEVICE):08.DRBV    86400    monitor
$(DEVICE):08.RBV     86400    monitor
$(DEVICE):08.DMOV    86400    monitor
$(DEVICE):08.MSTA    86400    monitor
$(DEVICE):08.DHLM    86400    monitor
$(DEVICE):08.DLLM    86400    monitor
$(DEVICE):08.HLM     86400    monitor
$(DEVICE):08.LLM     86400    monitor
$(DEVICE):08.BL      86400    monitor
$(DEVICE):08.BDST    86400    monitor
$(DEVICE):08.HTYP    86400    monitor
$(DEVICE):08.HSET    86400    monitor
$(DEVICE):08.DIR     86400    monitor
$(DEVICE):08.OFF     86400    monitor
$(DEVICE):08.TWV     86400    monitor
$(DEVICE):08.ACCL    86400    monitor
$(DEVICE):08.VELO    86400    monitor
$(DEVICE):08.HACC    86400    monitor
$(DEVICE):08.HVEL    86400    monitor
$(DEVICE):08.MINJ    86400    monitor
$(DEVICE):08.MAXJ    86400    monitor
$(DEVICE):08.RDBD    86400    monitor
$(DEVICE):08.RTRY    86400    monitor
$(DEVICE):08.UINT    86400    monitor
$(DEVICE):08.PDBD    86400    monitor

