_0108:UpdateClock.SCAN
_0108:UpdateMultiplier

:01.DESC
:01.EGU
:01.DHLM
:01.DLLM
:01.HLM
:01.LLM
:01.BL
:01.BDST
:01.HTYP
:01.HSET
:01.DIR
:01.OFF
:01.TWV
:01.ACCL
:01.VELO
:01.HACC
:01.HVEL
:01.MINJ
:01.MAXJ
:01.RDBD
:01.RTRY
:01.UINT
:01.PDBD
:01.DRBV
:01.RBV
:01.DVAL
:01.VAL

:02.DESC
:02.EGU
:02.DHLM
:02.DLLM
:02.HLM
:02.LLM
:02.BL
:02.BDST
:02.HTYP
:02.HSET
:02.DIR
:02.OFF
:02.TWV
:02.ACCL
:02.VELO
:02.HACC
:02.HVEL
:02.MINJ
:02.MAXJ
:02.RDBD
:02.RTRY
:02.UINT
:02.PDBD
:02.DRBV
:02.RBV
:02.DVAL
:02.VAL

:03.DESC
:03.EGU
:03.DHLM
:03.DLLM
:03.HLM
:03.LLM
:03.BL
:03.BDST
:03.HTYP
:03.HSET
:03.DIR
:03.OFF
:03.TWV
:03.ACCL
:03.VELO
:03.HACC
:03.HVEL
:03.MINJ
:03.MAXJ
:03.RDBD
:03.RTRY
:03.UINT
:03.PDBD
:03.DRBV
:03.RBV
:03.DVAL
:03.VAL

:04.DESC
:04.EGU
:04.DHLM
:04.DLLM
:04.HLM
:04.LLM
:04.BL
:04.BDST
:04.HTYP
:04.HSET
:04.DIR
:04.OFF
:04.TWV
:04.ACCL
:04.VELO
:04.HACC
:04.HVEL
:04.MINJ
:04.MAXJ
:04.RDBD
:04.RTRY
:04.UINT
:04.PDBD
:04.DRBV
:04.RBV
:04.DVAL
:04.VAL

:05.DESC
:05.EGU
:05.DHLM
:05.DLLM
:05.HLM
:05.LLM
:05.BL
:05.BDST
:05.HTYP
:05.HSET
:05.DIR
:05.OFF
:05.TWV
:05.ACCL
:05.VELO
:05.HACC
:05.HVEL
:05.MINJ
:05.MAXJ
:05.RDBD
:05.RTRY
:05.UINT
:05.PDBD
:05.DRBV
:05.RBV
:05.DVAL
:05.VAL

:06.DESC
:06.EGU
:06.DHLM
:06.DLLM
:06.HLM
:06.LLM
:06.BL
:06.BDST
:06.HTYP
:06.HSET
:06.DIR
:06.OFF
:06.TWV
:06.ACCL
:06.VELO
:06.HACC
:06.HVEL
:06.MINJ
:06.MAXJ
:06.RDBD
:06.RTRY
:06.UINT
:06.PDBD
:06.DRBV
:06.RBV
:06.DVAL
:06.VAL

:07.DESC
:07.EGU
:07.DHLM
:07.DLLM
:07.HLM
:07.LLM
:07.BL
:07.BDST
:07.HTYP
:07.HSET
:07.DIR
:07.OFF
:07.TWV
:07.ACCL
:07.VELO
:07.HACC
:07.HVEL
:07.MINJ
:07.MAXJ
:07.RDBD
:07.RTRY
:07.UINT
:07.PDBD
:07.DRBV
:07.RBV
:07.DVAL
:07.VAL

:08.DESC
:08.EGU
:08.DHLM
:08.DLLM
:08.HLM
:08.LLM
:08.BL
:08.BDST
:08.HTYP
:08.HSET
:08.DIR
:08.OFF
:08.TWV
:08.ACCL
:08.VELO
:08.HACC
:08.HVEL
:08.MINJ
:08.MAXJ
:08.RDBD
:08.RTRY
:08.UINT
:08.PDBD
:08.DRBV
:08.RBV
:08.DVAL
:08.VAL

