$(DEVICE)_0108:UpdateMultiplier

$(DEVICE)_0108.DFUT

$(DEVICE):01.PTYP
$(DEVICE):01.DESC
$(DEVICE):01.DHLM
$(DEVICE):01.DLLM
$(DEVICE):01.HLM
$(DEVICE):01.LLM
$(DEVICE):01.BL
$(DEVICE):01.BDST
$(DEVICE):01.HTYP
$(DEVICE):01.HSET
$(DEVICE):01.DIR
$(DEVICE):01.OFF
$(DEVICE):01.TWV
$(DEVICE):01.ACCL
$(DEVICE):01.VELO
$(DEVICE):01.HACC
$(DEVICE):01.HVEL
$(DEVICE):01.MINJ
$(DEVICE):01.MAXJ
$(DEVICE):01.RDBD
$(DEVICE):01.RTRY
$(DEVICE):01.UINT
$(DEVICE):01.PDBD
$(DEVICE):01.DRBV
$(DEVICE):01.RBV
$(DEVICE):01.DVAL
$(DEVICE):01.VAL

$(DEVICE):02.PTYP
$(DEVICE):02.DESC
$(DEVICE):02.DHLM
$(DEVICE):02.DLLM
$(DEVICE):02.HLM
$(DEVICE):02.LLM
$(DEVICE):02.BL
$(DEVICE):02.BDST
$(DEVICE):02.HTYP
$(DEVICE):02.HSET
$(DEVICE):02.DIR
$(DEVICE):02.OFF
$(DEVICE):02.TWV
$(DEVICE):02.ACCL
$(DEVICE):02.VELO
$(DEVICE):02.HACC
$(DEVICE):02.HVEL
$(DEVICE):02.MINJ
$(DEVICE):02.MAXJ
$(DEVICE):02.RDBD
$(DEVICE):02.RTRY
$(DEVICE):02.UINT
$(DEVICE):02.PDBD
$(DEVICE):02.DRBV
$(DEVICE):02.RBV
$(DEVICE):02.DVAL
$(DEVICE):02.VAL

$(DEVICE):03.PTYP
$(DEVICE):03.DESC
$(DEVICE):03.DHLM
$(DEVICE):03.DLLM
$(DEVICE):03.HLM
$(DEVICE):03.LLM
$(DEVICE):03.BL
$(DEVICE):03.BDST
$(DEVICE):03.HTYP
$(DEVICE):03.HSET
$(DEVICE):03.DIR
$(DEVICE):03.OFF
$(DEVICE):03.TWV
$(DEVICE):03.ACCL
$(DEVICE):03.VELO
$(DEVICE):03.HACC
$(DEVICE):03.HVEL
$(DEVICE):03.MINJ
$(DEVICE):03.MAXJ
$(DEVICE):03.RDBD
$(DEVICE):03.RTRY
$(DEVICE):03.UINT
$(DEVICE):03.PDBD
$(DEVICE):03.DRBV
$(DEVICE):03.RBV
$(DEVICE):03.DVAL
$(DEVICE):03.VAL

$(DEVICE):04.PTYP
$(DEVICE):04.DESC
$(DEVICE):04.DHLM
$(DEVICE):04.DLLM
$(DEVICE):04.HLM
$(DEVICE):04.LLM
$(DEVICE):04.BL
$(DEVICE):04.BDST
$(DEVICE):04.HTYP
$(DEVICE):04.HSET
$(DEVICE):04.DIR
$(DEVICE):04.OFF
$(DEVICE):04.TWV
$(DEVICE):04.ACCL
$(DEVICE):04.VELO
$(DEVICE):04.HACC
$(DEVICE):04.HVEL
$(DEVICE):04.MINJ
$(DEVICE):04.MAXJ
$(DEVICE):04.RDBD
$(DEVICE):04.RTRY
$(DEVICE):04.UINT
$(DEVICE):04.PDBD
$(DEVICE):04.DRBV
$(DEVICE):04.RBV
$(DEVICE):04.DVAL
$(DEVICE):04.VAL

$(DEVICE):05.PTYP
$(DEVICE):05.DESC
$(DEVICE):05.DHLM
$(DEVICE):05.DLLM
$(DEVICE):05.HLM
$(DEVICE):05.LLM
$(DEVICE):05.BL
$(DEVICE):05.BDST
$(DEVICE):05.HTYP
$(DEVICE):05.HSET
$(DEVICE):05.DIR
$(DEVICE):05.OFF
$(DEVICE):05.TWV
$(DEVICE):05.ACCL
$(DEVICE):05.VELO
$(DEVICE):05.HACC
$(DEVICE):05.HVEL
$(DEVICE):05.MINJ
$(DEVICE):05.MAXJ
$(DEVICE):05.RDBD
$(DEVICE):05.RTRY
$(DEVICE):05.UINT
$(DEVICE):05.PDBD
$(DEVICE):05.DRBV
$(DEVICE):05.RBV
$(DEVICE):05.DVAL
$(DEVICE):05.VAL

$(DEVICE):06.PTYP
$(DEVICE):06.DESC
$(DEVICE):06.DHLM
$(DEVICE):06.DLLM
$(DEVICE):06.HLM
$(DEVICE):06.LLM
$(DEVICE):06.BL
$(DEVICE):06.BDST
$(DEVICE):06.HTYP
$(DEVICE):06.HSET
$(DEVICE):06.DIR
$(DEVICE):06.OFF
$(DEVICE):06.TWV
$(DEVICE):06.ACCL
$(DEVICE):06.VELO
$(DEVICE):06.HACC
$(DEVICE):06.HVEL
$(DEVICE):06.MINJ
$(DEVICE):06.MAXJ
$(DEVICE):06.RDBD
$(DEVICE):06.RTRY
$(DEVICE):06.UINT
$(DEVICE):06.PDBD
$(DEVICE):06.DRBV
$(DEVICE):06.RBV
$(DEVICE):06.DVAL
$(DEVICE):06.VAL

$(DEVICE):07.PTYP
$(DEVICE):07.DESC
$(DEVICE):07.DHLM
$(DEVICE):07.DLLM
$(DEVICE):07.HLM
$(DEVICE):07.LLM
$(DEVICE):07.BL
$(DEVICE):07.BDST
$(DEVICE):07.HTYP
$(DEVICE):07.HSET
$(DEVICE):07.DIR
$(DEVICE):07.OFF
$(DEVICE):07.TWV
$(DEVICE):07.ACCL
$(DEVICE):07.VELO
$(DEVICE):07.HACC
$(DEVICE):07.HVEL
$(DEVICE):07.MINJ
$(DEVICE):07.MAXJ
$(DEVICE):07.RDBD
$(DEVICE):07.RTRY
$(DEVICE):07.UINT
$(DEVICE):07.PDBD
$(DEVICE):07.DRBV
$(DEVICE):07.RBV
$(DEVICE):07.DVAL
$(DEVICE):07.VAL

$(DEVICE):08.PTYP
$(DEVICE):08.DESC
$(DEVICE):08.DHLM
$(DEVICE):08.DLLM
$(DEVICE):08.HLM
$(DEVICE):08.LLM
$(DEVICE):08.BL
$(DEVICE):08.BDST
$(DEVICE):08.HTYP
$(DEVICE):08.HSET
$(DEVICE):08.DIR
$(DEVICE):08.OFF
$(DEVICE):08.TWV
$(DEVICE):08.ACCL
$(DEVICE):08.VELO
$(DEVICE):08.HACC
$(DEVICE):08.HVEL
$(DEVICE):08.MINJ
$(DEVICE):08.MAXJ
$(DEVICE):08.RDBD
$(DEVICE):08.RTRY
$(DEVICE):08.UINT
$(DEVICE):08.PDBD
$(DEVICE):08.DRBV
$(DEVICE):08.RBV
$(DEVICE):08.DVAL
$(DEVICE):08.VAL

