_2532:UpdateClock.SCAN
_2532:UpdateMultiplier

:25.DESC
:25.EGU
:25.DHLM
:25.DLLM
:25.HLM
:25.LLM
:25.BL
:25.BDST
:25.HTYP
:25.HSET
:25.DIR
:25.OFF
:25.TWV
:25.ACCL
:25.VELO
:25.HACC
:25.HVEL
:25.MINJ
:25.MAXJ
:25.RDBD
:25.RTRY
:25.UINT
:25.PDBD
:25.DRBV
:25.RBV
:25.DVAL
:25.VAL

:26.DESC
:26.EGU
:26.DHLM
:26.DLLM
:26.HLM
:26.LLM
:26.BL
:26.BDST
:26.HTYP
:26.HSET
:26.DIR
:26.OFF
:26.TWV
:26.ACCL
:26.VELO
:26.HACC
:26.HVEL
:26.MINJ
:26.MAXJ
:26.RDBD
:26.RTRY
:26.UINT
:26.PDBD
:26.DRBV
:26.RBV
:26.DVAL
:26.VAL

:27.DESC
:27.EGU
:27.DHLM
:27.DLLM
:27.HLM
:27.LLM
:27.BL
:27.BDST
:27.HTYP
:27.HSET
:27.DIR
:27.OFF
:27.TWV
:27.ACCL
:27.VELO
:27.HACC
:27.HVEL
:27.MINJ
:27.MAXJ
:27.RDBD
:27.RTRY
:27.UINT
:27.PDBD
:27.DRBV
:27.RBV
:27.DVAL
:27.VAL

:28.DESC
:28.EGU
:28.DHLM
:28.DLLM
:28.HLM
:28.LLM
:28.BL
:28.BDST
:28.HTYP
:28.HSET
:28.DIR
:28.OFF
:28.TWV
:28.ACCL
:28.VELO
:28.HACC
:28.HVEL
:28.MINJ
:28.MAXJ
:28.RDBD
:28.RTRY
:28.UINT
:28.PDBD
:28.DRBV
:28.RBV
:28.DVAL
:28.VAL

:29.DESC
:29.EGU
:29.DHLM
:29.DLLM
:29.HLM
:29.LLM
:29.BL
:29.BDST
:29.HTYP
:29.HSET
:29.DIR
:29.OFF
:29.TWV
:29.ACCL
:29.VELO
:29.HACC
:29.HVEL
:29.MINJ
:29.MAXJ
:29.RDBD
:29.RTRY
:29.UINT
:29.PDBD
:29.DRBV
:29.RBV
:29.DVAL
:29.VAL

:30.DESC
:30.EGU
:30.DHLM
:30.DLLM
:30.HLM
:30.LLM
:30.BL
:30.BDST
:30.HTYP
:30.HSET
:30.DIR
:30.OFF
:30.TWV
:30.ACCL
:30.VELO
:30.HACC
:30.HVEL
:30.MINJ
:30.MAXJ
:30.RDBD
:30.RTRY
:30.UINT
:30.PDBD
:30.DRBV
:30.RBV
:30.DVAL
:30.VAL

:31.DESC
:31.EGU
:31.DHLM
:31.DLLM
:31.HLM
:31.LLM
:31.BL
:31.BDST
:31.HTYP
:31.HSET
:31.DIR
:31.OFF
:31.TWV
:31.ACCL
:31.VELO
:31.HACC
:31.HVEL
:31.MINJ
:31.MAXJ
:31.RDBD
:31.RTRY
:31.UINT
:31.PDBD
:31.DRBV
:31.RBV
:31.DVAL
:31.VAL

:32.DESC
:32.EGU
:32.DHLM
:32.DLLM
:32.HLM
:32.LLM
:32.BL
:32.BDST
:32.HTYP
:32.HSET
:32.DIR
:32.OFF
:32.TWV
:32.ACCL
:32.VELO
:32.HACC
:32.HVEL
:32.MINJ
:32.MAXJ
:32.RDBD
:32.RTRY
:32.UINT
:32.PDBD
:32.DRBV
:32.RBV
:32.DVAL
:32.VAL

