$(DEVICE):UpdateClock.SCAN
$(DEVICE):UpdateMultiplier

$(POS1).DESC
$(POS1).EGU
$(POS1).DHLM
$(POS1).DLLM
$(POS1).HLM
$(POS1).LLM
$(POS1).BL
$(POS1).BDST
$(POS1).HTYP
$(POS1).HSET
$(POS1).DIR
$(POS1).OFF
$(POS1).TWV
$(POS1).ACCL
$(POS1).VELO
$(POS1).HACC
$(POS1).HVEL
$(POS1).MINJ
$(POS1).MAXJ
$(POS1).RDBD
$(POS1).RTRY
$(POS1).UINT
$(POS1).PDBD
$(POS1).DRBV
$(POS1).RBV
$(POS1).DVAL
$(POS1).VAL

$(POS2).DESC
$(POS2).EGU
$(POS2).DHLM
$(POS2).DLLM
$(POS2).HLM
$(POS2).LLM
$(POS2).BL
$(POS2).BDST
$(POS2).HTYP
$(POS2).HSET
$(POS2).DIR
$(POS2).OFF
$(POS2).TWV
$(POS2).ACCL
$(POS2).VELO
$(POS2).HACC
$(POS2).HVEL
$(POS2).MINJ
$(POS2).MAXJ
$(POS2).RDBD
$(POS2).RTRY
$(POS2).UINT
$(POS2).PDBD
$(POS2).DRBV
$(POS2).RBV
$(POS2).DVAL
$(POS2).VAL

$(POS3).DESC
$(POS3).EGU
$(POS3).DHLM
$(POS3).DLLM
$(POS3).HLM
$(POS3).LLM
$(POS3).BL
$(POS3).BDST
$(POS3).HTYP
$(POS3).HSET
$(POS3).DIR
$(POS3).OFF
$(POS3).TWV
$(POS3).ACCL
$(POS3).VELO
$(POS3).HACC
$(POS3).HVEL
$(POS3).MINJ
$(POS3).MAXJ
$(POS3).RDBD
$(POS3).RTRY
$(POS3).UINT
$(POS3).PDBD
$(POS3).DRBV
$(POS3).RBV
$(POS3).DVAL
$(POS3).VAL

$(POS4).DESC
$(POS4).EGU
$(POS4).DHLM
$(POS4).DLLM
$(POS4).HLM
$(POS4).LLM
$(POS4).BL
$(POS4).BDST
$(POS4).HTYP
$(POS4).HSET
$(POS4).DIR
$(POS4).OFF
$(POS4).TWV
$(POS4).ACCL
$(POS4).VELO
$(POS4).HACC
$(POS4).HVEL
$(POS4).MINJ
$(POS4).MAXJ
$(POS4).RDBD
$(POS4).RTRY
$(POS4).UINT
$(POS4).PDBD
$(POS4).DRBV
$(POS4).RBV
$(POS4).DVAL
$(POS4).VAL

$(POS5).DESC
$(POS5).EGU
$(POS5).DHLM
$(POS5).DLLM
$(POS5).HLM
$(POS5).LLM
$(POS5).BL
$(POS5).BDST
$(POS5).HTYP
$(POS5).HSET
$(POS5).DIR
$(POS5).OFF
$(POS5).TWV
$(POS5).ACCL
$(POS5).VELO
$(POS5).HACC
$(POS5).HVEL
$(POS5).MINJ
$(POS5).MAXJ
$(POS5).RDBD
$(POS5).RTRY
$(POS5).UINT
$(POS5).PDBD
$(POS5).DRBV
$(POS5).RBV
$(POS5).DVAL
$(POS5).VAL

$(POS6).DESC
$(POS6).EGU
$(POS6).DHLM
$(POS6).DLLM
$(POS6).HLM
$(POS6).LLM
$(POS6).BL
$(POS6).BDST
$(POS6).HTYP
$(POS6).HSET
$(POS6).DIR
$(POS6).OFF
$(POS6).TWV
$(POS6).ACCL
$(POS6).VELO
$(POS6).HACC
$(POS6).HVEL
$(POS6).MINJ
$(POS6).MAXJ
$(POS6).RDBD
$(POS6).RTRY
$(POS6).UINT
$(POS6).PDBD
$(POS6).DRBV
$(POS6).RBV
$(POS6).DVAL
$(POS6).VAL

$(POS7).DESC
$(POS7).EGU
$(POS7).DHLM
$(POS7).DLLM
$(POS7).HLM
$(POS7).LLM
$(POS7).BL
$(POS7).BDST
$(POS7).HTYP
$(POS7).HSET
$(POS7).DIR
$(POS7).OFF
$(POS7).TWV
$(POS7).ACCL
$(POS7).VELO
$(POS7).HACC
$(POS7).HVEL
$(POS7).MINJ
$(POS7).MAXJ
$(POS7).RDBD
$(POS7).RTRY
$(POS7).UINT
$(POS7).PDBD
$(POS7).DRBV
$(POS7).RBV
$(POS7).DVAL
$(POS7).VAL

$(POS8).DESC
$(POS8).EGU
$(POS8).DHLM
$(POS8).DLLM
$(POS8).HLM
$(POS8).LLM
$(POS8).BL
$(POS8).BDST
$(POS8).HTYP
$(POS8).HSET
$(POS8).DIR
$(POS8).OFF
$(POS8).TWV
$(POS8).ACCL
$(POS8).VELO
$(POS8).HACC
$(POS8).HVEL
$(POS8).MINJ
$(POS8).MAXJ
$(POS8).RDBD
$(POS8).RTRY
$(POS8).UINT
$(POS8).PDBD
$(POS8).DRBV
$(POS8).RBV
$(POS8).DVAL
$(POS8).VAL

