$(DEVICE)_2532:UpdateMultiplier

$(DEVICE)_2532.DFUT

$(DEVICE):25.PTYP
$(DEVICE):25.DESC
$(DEVICE):25.EGU
$(DEVICE):25.DHLM
$(DEVICE):25.DLLM
$(DEVICE):25.HLM
$(DEVICE):25.LLM
$(DEVICE):25.BL
$(DEVICE):25.BDST
$(DEVICE):25.HTYP
$(DEVICE):25.HSET
$(DEVICE):25.DIR
$(DEVICE):25.OFF
$(DEVICE):25.TWV
$(DEVICE):25.ACCL
$(DEVICE):25.VELO
$(DEVICE):25.HACC
$(DEVICE):25.HVEL
$(DEVICE):25.MINJ
$(DEVICE):25.MAXJ
$(DEVICE):25.RDBD
$(DEVICE):25.RTRY
$(DEVICE):25.UINT
$(DEVICE):25.PDBD
$(DEVICE):25.DRBV
$(DEVICE):25.RBV
$(DEVICE):25.DVAL
$(DEVICE):25.VAL

$(DEVICE):26.PTYP
$(DEVICE):26.DESC
$(DEVICE):26.EGU
$(DEVICE):26.DHLM
$(DEVICE):26.DLLM
$(DEVICE):26.HLM
$(DEVICE):26.LLM
$(DEVICE):26.BL
$(DEVICE):26.BDST
$(DEVICE):26.HTYP
$(DEVICE):26.HSET
$(DEVICE):26.DIR
$(DEVICE):26.OFF
$(DEVICE):26.TWV
$(DEVICE):26.ACCL
$(DEVICE):26.VELO
$(DEVICE):26.HACC
$(DEVICE):26.HVEL
$(DEVICE):26.MINJ
$(DEVICE):26.MAXJ
$(DEVICE):26.RDBD
$(DEVICE):26.RTRY
$(DEVICE):26.UINT
$(DEVICE):26.PDBD
$(DEVICE):26.DRBV
$(DEVICE):26.RBV
$(DEVICE):26.DVAL
$(DEVICE):26.VAL

$(DEVICE):27.PTYP
$(DEVICE):27.DESC
$(DEVICE):27.EGU
$(DEVICE):27.DHLM
$(DEVICE):27.DLLM
$(DEVICE):27.HLM
$(DEVICE):27.LLM
$(DEVICE):27.BL
$(DEVICE):27.BDST
$(DEVICE):27.HTYP
$(DEVICE):27.HSET
$(DEVICE):27.DIR
$(DEVICE):27.OFF
$(DEVICE):27.TWV
$(DEVICE):27.ACCL
$(DEVICE):27.VELO
$(DEVICE):27.HACC
$(DEVICE):27.HVEL
$(DEVICE):27.MINJ
$(DEVICE):27.MAXJ
$(DEVICE):27.RDBD
$(DEVICE):27.RTRY
$(DEVICE):27.UINT
$(DEVICE):27.PDBD
$(DEVICE):27.DRBV
$(DEVICE):27.RBV
$(DEVICE):27.DVAL
$(DEVICE):27.VAL

$(DEVICE):28.PTYP
$(DEVICE):28.DESC
$(DEVICE):28.EGU
$(DEVICE):28.DHLM
$(DEVICE):28.DLLM
$(DEVICE):28.HLM
$(DEVICE):28.LLM
$(DEVICE):28.BL
$(DEVICE):28.BDST
$(DEVICE):28.HTYP
$(DEVICE):28.HSET
$(DEVICE):28.DIR
$(DEVICE):28.OFF
$(DEVICE):28.TWV
$(DEVICE):28.ACCL
$(DEVICE):28.VELO
$(DEVICE):28.HACC
$(DEVICE):28.HVEL
$(DEVICE):28.MINJ
$(DEVICE):28.MAXJ
$(DEVICE):28.RDBD
$(DEVICE):28.RTRY
$(DEVICE):28.UINT
$(DEVICE):28.PDBD
$(DEVICE):28.DRBV
$(DEVICE):28.RBV
$(DEVICE):28.DVAL
$(DEVICE):28.VAL

$(DEVICE):29.PTYP
$(DEVICE):29.DESC
$(DEVICE):29.EGU
$(DEVICE):29.DHLM
$(DEVICE):29.DLLM
$(DEVICE):29.HLM
$(DEVICE):29.LLM
$(DEVICE):29.BL
$(DEVICE):29.BDST
$(DEVICE):29.HTYP
$(DEVICE):29.HSET
$(DEVICE):29.DIR
$(DEVICE):29.OFF
$(DEVICE):29.TWV
$(DEVICE):29.ACCL
$(DEVICE):29.VELO
$(DEVICE):29.HACC
$(DEVICE):29.HVEL
$(DEVICE):29.MINJ
$(DEVICE):29.MAXJ
$(DEVICE):29.RDBD
$(DEVICE):29.RTRY
$(DEVICE):29.UINT
$(DEVICE):29.PDBD
$(DEVICE):29.DRBV
$(DEVICE):29.RBV
$(DEVICE):29.DVAL
$(DEVICE):29.VAL

$(DEVICE):30.PTYP
$(DEVICE):30.DESC
$(DEVICE):30.EGU
$(DEVICE):30.DHLM
$(DEVICE):30.DLLM
$(DEVICE):30.HLM
$(DEVICE):30.LLM
$(DEVICE):30.BL
$(DEVICE):30.BDST
$(DEVICE):30.HTYP
$(DEVICE):30.HSET
$(DEVICE):30.DIR
$(DEVICE):30.OFF
$(DEVICE):30.TWV
$(DEVICE):30.ACCL
$(DEVICE):30.VELO
$(DEVICE):30.HACC
$(DEVICE):30.HVEL
$(DEVICE):30.MINJ
$(DEVICE):30.MAXJ
$(DEVICE):30.RDBD
$(DEVICE):30.RTRY
$(DEVICE):30.UINT
$(DEVICE):30.PDBD
$(DEVICE):30.DRBV
$(DEVICE):30.RBV
$(DEVICE):30.DVAL
$(DEVICE):30.VAL

$(DEVICE):31.PTYP
$(DEVICE):31.DESC
$(DEVICE):31.EGU
$(DEVICE):31.DHLM
$(DEVICE):31.DLLM
$(DEVICE):31.HLM
$(DEVICE):31.LLM
$(DEVICE):31.BL
$(DEVICE):31.BDST
$(DEVICE):31.HTYP
$(DEVICE):31.HSET
$(DEVICE):31.DIR
$(DEVICE):31.OFF
$(DEVICE):31.TWV
$(DEVICE):31.ACCL
$(DEVICE):31.VELO
$(DEVICE):31.HACC
$(DEVICE):31.HVEL
$(DEVICE):31.MINJ
$(DEVICE):31.MAXJ
$(DEVICE):31.RDBD
$(DEVICE):31.RTRY
$(DEVICE):31.UINT
$(DEVICE):31.PDBD
$(DEVICE):31.DRBV
$(DEVICE):31.RBV
$(DEVICE):31.DVAL
$(DEVICE):31.VAL

$(DEVICE):32.PTYP
$(DEVICE):32.DESC
$(DEVICE):32.EGU
$(DEVICE):32.DHLM
$(DEVICE):32.DLLM
$(DEVICE):32.HLM
$(DEVICE):32.LLM
$(DEVICE):32.BL
$(DEVICE):32.BDST
$(DEVICE):32.HTYP
$(DEVICE):32.HSET
$(DEVICE):32.DIR
$(DEVICE):32.OFF
$(DEVICE):32.TWV
$(DEVICE):32.ACCL
$(DEVICE):32.VELO
$(DEVICE):32.HACC
$(DEVICE):32.HVEL
$(DEVICE):32.MINJ
$(DEVICE):32.MAXJ
$(DEVICE):32.RDBD
$(DEVICE):32.RTRY
$(DEVICE):32.UINT
$(DEVICE):32.PDBD
$(DEVICE):32.DRBV
$(DEVICE):32.RBV
$(DEVICE):32.DVAL
$(DEVICE):32.VAL

