_2532:UpdateClock.SCAN    86400    monitor
_2532:UpdateMultiplier    86400    monitor

:25.DESC    86400    monitor
:25.EGU     86400    monitor
:25.VAL     86400    monitor
:25.DVAL    86400    monitor
:25.DRBV    86400    monitor
:25.RBV     86400    monitor
:25.DMOV    86400    monitor
:25.MSTA    86400    monitor
:25.DHLM    86400    monitor
:25.DLLM    86400    monitor
:25.HLM     86400    monitor
:25.LLM     86400    monitor
:25.BL      86400    monitor
:25.BDST    86400    monitor
:25.HTYP    86400    monitor
:25.HSET    86400    monitor
:25.DIR     86400    monitor
:25.OFF     86400    monitor
:25.TWV     86400    monitor
:25.ACCL    86400    monitor
:25.VELO    86400    monitor
:25.HACC    86400    monitor
:25.HVEL    86400    monitor
:25.MINJ    86400    monitor
:25.MAXJ    86400    monitor
:25.RDBD    86400    monitor
:25.RTRY    86400    monitor
:25.UINT    86400    monitor
:25.PDBD    86400    monitor

:26.DESC    86400    monitor
:26.EGU     86400    monitor
:26.VAL     86400    monitor
:26.DVAL    86400    monitor
:26.DRBV    86400    monitor
:26.RBV     86400    monitor
:26.DMOV    86400    monitor
:26.MSTA    86400    monitor
:26.DHLM    86400    monitor
:26.DLLM    86400    monitor
:26.HLM     86400    monitor
:26.LLM     86400    monitor
:26.BL      86400    monitor
:26.BDST    86400    monitor
:26.HTYP    86400    monitor
:26.HSET    86400    monitor
:26.DIR     86400    monitor
:26.OFF     86400    monitor
:26.TWV     86400    monitor
:26.ACCL    86400    monitor
:26.VELO    86400    monitor
:26.HACC    86400    monitor
:26.HVEL    86400    monitor
:26.MINJ    86400    monitor
:26.MAXJ    86400    monitor
:26.RDBD    86400    monitor
:26.RTRY    86400    monitor
:26.UINT    86400    monitor
:26.PDBD    86400    monitor

:27.DESC    86400    monitor
:27.EGU     86400    monitor
:27.VAL     86400    monitor
:27.DVAL    86400    monitor
:27.DRBV    86400    monitor
:27.RBV     86400    monitor
:27.DMOV    86400    monitor
:27.MSTA    86400    monitor
:27.DHLM    86400    monitor
:27.DLLM    86400    monitor
:27.HLM     86400    monitor
:27.LLM     86400    monitor
:27.BL      86400    monitor
:27.BDST    86400    monitor
:27.HTYP    86400    monitor
:27.HSET    86400    monitor
:27.DIR     86400    monitor
:27.OFF     86400    monitor
:27.TWV     86400    monitor
:27.ACCL    86400    monitor
:27.VELO    86400    monitor
:27.HACC    86400    monitor
:27.HVEL    86400    monitor
:27.MINJ    86400    monitor
:27.MAXJ    86400    monitor
:27.RDBD    86400    monitor
:27.RTRY    86400    monitor
:27.UINT    86400    monitor
:27.PDBD    86400    monitor

:28.DESC    86400    monitor
:28.EGU     86400    monitor
:28.VAL     86400    monitor
:28.DVAL    86400    monitor
:28.DRBV    86400    monitor
:28.RBV     86400    monitor
:28.DMOV    86400    monitor
:28.MSTA    86400    monitor
:28.DHLM    86400    monitor
:28.DLLM    86400    monitor
:28.HLM     86400    monitor
:28.LLM     86400    monitor
:28.BL      86400    monitor
:28.BDST    86400    monitor
:28.HTYP    86400    monitor
:28.HSET    86400    monitor
:28.DIR     86400    monitor
:28.OFF     86400    monitor
:28.TWV     86400    monitor
:28.ACCL    86400    monitor
:28.VELO    86400    monitor
:28.HACC    86400    monitor
:28.HVEL    86400    monitor
:28.MINJ    86400    monitor
:28.MAXJ    86400    monitor
:28.RDBD    86400    monitor
:28.RTRY    86400    monitor
:28.UINT    86400    monitor
:28.PDBD    86400    monitor

:29.DESC    86400    monitor
:29.EGU     86400    monitor
:29.VAL     86400    monitor
:29.DVAL    86400    monitor
:29.DRBV    86400    monitor
:29.RBV     86400    monitor
:29.DMOV    86400    monitor
:29.MSTA    86400    monitor
:29.DHLM    86400    monitor
:29.DLLM    86400    monitor
:29.HLM     86400    monitor
:29.LLM     86400    monitor
:29.BL      86400    monitor
:29.BDST    86400    monitor
:29.HTYP    86400    monitor
:29.HSET    86400    monitor
:29.DIR     86400    monitor
:29.OFF     86400    monitor
:29.TWV     86400    monitor
:29.ACCL    86400    monitor
:29.VELO    86400    monitor
:29.HACC    86400    monitor
:29.HVEL    86400    monitor
:29.MINJ    86400    monitor
:29.MAXJ    86400    monitor
:29.RDBD    86400    monitor
:29.RTRY    86400    monitor
:29.UINT    86400    monitor
:29.PDBD    86400    monitor

:30.DESC    86400    monitor
:30.EGU     86400    monitor
:30.VAL     86400    monitor
:30.DVAL    86400    monitor
:30.DRBV    86400    monitor
:30.RBV     86400    monitor
:30.DMOV    86400    monitor
:30.MSTA    86400    monitor
:30.DHLM    86400    monitor
:30.DLLM    86400    monitor
:30.HLM     86400    monitor
:30.LLM     86400    monitor
:30.BL      86400    monitor
:30.BDST    86400    monitor
:30.HTYP    86400    monitor
:30.HSET    86400    monitor
:30.DIR     86400    monitor
:30.OFF     86400    monitor
:30.TWV     86400    monitor
:30.ACCL    86400    monitor
:30.VELO    86400    monitor
:30.HACC    86400    monitor
:30.HVEL    86400    monitor
:30.MINJ    86400    monitor
:30.MAXJ    86400    monitor
:30.RDBD    86400    monitor
:30.RTRY    86400    monitor
:30.UINT    86400    monitor
:30.PDBD    86400    monitor

:31.DESC    86400    monitor
:31.EGU     86400    monitor
:31.VAL     86400    monitor
:31.DVAL    86400    monitor
:31.DRBV    86400    monitor
:31.RBV     86400    monitor
:31.DMOV    86400    monitor
:31.MSTA    86400    monitor
:31.DHLM    86400    monitor
:31.DLLM    86400    monitor
:31.HLM     86400    monitor
:31.LLM     86400    monitor
:31.BL      86400    monitor
:31.BDST    86400    monitor
:31.HTYP    86400    monitor
:31.HSET    86400    monitor
:31.DIR     86400    monitor
:31.OFF     86400    monitor
:31.TWV     86400    monitor
:31.ACCL    86400    monitor
:31.VELO    86400    monitor
:31.HACC    86400    monitor
:31.HVEL    86400    monitor
:31.MINJ    86400    monitor
:31.MAXJ    86400    monitor
:31.RDBD    86400    monitor
:31.RTRY    86400    monitor
:31.UINT    86400    monitor
:31.PDBD    86400    monitor

:32.DESC    86400    monitor
:32.EGU     86400    monitor
:32.VAL     86400    monitor
:32.DVAL    86400    monitor
:32.DRBV    86400    monitor
:32.RBV     86400    monitor
:32.DMOV    86400    monitor
:32.MSTA    86400    monitor
:32.DHLM    86400    monitor
:32.DLLM    86400    monitor
:32.HLM     86400    monitor
:32.LLM     86400    monitor
:32.BL      86400    monitor
:32.BDST    86400    monitor
:32.HTYP    86400    monitor
:32.HSET    86400    monitor
:32.DIR     86400    monitor
:32.OFF     86400    monitor
:32.TWV     86400    monitor
:32.ACCL    86400    monitor
:32.VELO    86400    monitor
:32.HACC    86400    monitor
:32.HVEL    86400    monitor
:32.MINJ    86400    monitor
:32.MAXJ    86400    monitor
:32.RDBD    86400    monitor
:32.RTRY    86400    monitor
:32.UINT    86400    monitor
:32.PDBD    86400    monitor

