_1724:UpdateClock.SCAN    86400    monitor
_1724:UpdateMultiplier    86400    monitor

:17.DESC    86400    monitor
:17.EGU     86400    monitor
:17.VAL     86400    monitor
:17.DVAL    86400    monitor
:17.DRBV    86400    monitor
:17.RBV     86400    monitor
:17.DMOV    86400    monitor
:17.MSTA    86400    monitor
:17.DHLM    86400    monitor
:17.DLLM    86400    monitor
:17.HLM     86400    monitor
:17.LLM     86400    monitor
:17.BL      86400    monitor
:17.BDST    86400    monitor
:17.HTYP    86400    monitor
:17.HSET    86400    monitor
:17.DIR     86400    monitor
:17.OFF     86400    monitor
:17.TWV     86400    monitor
:17.ACCL    86400    monitor
:17.VELO    86400    monitor
:17.HACC    86400    monitor
:17.HVEL    86400    monitor
:17.MINJ    86400    monitor
:17.MAXJ    86400    monitor
:17.RDBD    86400    monitor
:17.RTRY    86400    monitor
:17.UINT    86400    monitor
:17.PDBD    86400    monitor

:18.DESC    86400    monitor
:18.EGU     86400    monitor
:18.VAL     86400    monitor
:18.DVAL    86400    monitor
:18.DRBV    86400    monitor
:18.RBV     86400    monitor
:18.DMOV    86400    monitor
:18.MSTA    86400    monitor
:18.DHLM    86400    monitor
:18.DLLM    86400    monitor
:18.HLM     86400    monitor
:18.LLM     86400    monitor
:18.BL      86400    monitor
:18.BDST    86400    monitor
:18.HTYP    86400    monitor
:18.HSET    86400    monitor
:18.DIR     86400    monitor
:18.OFF     86400    monitor
:18.TWV     86400    monitor
:18.ACCL    86400    monitor
:18.VELO    86400    monitor
:18.HACC    86400    monitor
:18.HVEL    86400    monitor
:18.MINJ    86400    monitor
:18.MAXJ    86400    monitor
:18.RDBD    86400    monitor
:18.RTRY    86400    monitor
:18.UINT    86400    monitor
:18.PDBD    86400    monitor

:19.DESC    86400    monitor
:19.EGU     86400    monitor
:19.VAL     86400    monitor
:19.DVAL    86400    monitor
:19.DRBV    86400    monitor
:19.RBV     86400    monitor
:19.DMOV    86400    monitor
:19.MSTA    86400    monitor
:19.DHLM    86400    monitor
:19.DLLM    86400    monitor
:19.HLM     86400    monitor
:19.LLM     86400    monitor
:19.BL      86400    monitor
:19.BDST    86400    monitor
:19.HTYP    86400    monitor
:19.HSET    86400    monitor
:19.DIR     86400    monitor
:19.OFF     86400    monitor
:19.TWV     86400    monitor
:19.ACCL    86400    monitor
:19.VELO    86400    monitor
:19.HACC    86400    monitor
:19.HVEL    86400    monitor
:19.MINJ    86400    monitor
:19.MAXJ    86400    monitor
:19.RDBD    86400    monitor
:19.RTRY    86400    monitor
:19.UINT    86400    monitor
:19.PDBD    86400    monitor

:20.DESC    86400    monitor
:20.EGU     86400    monitor
:20.VAL     86400    monitor
:20.DVAL    86400    monitor
:20.DRBV    86400    monitor
:20.RBV     86400    monitor
:20.DMOV    86400    monitor
:20.MSTA    86400    monitor
:20.DHLM    86400    monitor
:20.DLLM    86400    monitor
:20.HLM     86400    monitor
:20.LLM     86400    monitor
:20.BL      86400    monitor
:20.BDST    86400    monitor
:20.HTYP    86400    monitor
:20.HSET    86400    monitor
:20.DIR     86400    monitor
:20.OFF     86400    monitor
:20.TWV     86400    monitor
:20.ACCL    86400    monitor
:20.VELO    86400    monitor
:20.HACC    86400    monitor
:20.HVEL    86400    monitor
:20.MINJ    86400    monitor
:20.MAXJ    86400    monitor
:20.RDBD    86400    monitor
:20.RTRY    86400    monitor
:20.UINT    86400    monitor
:20.PDBD    86400    monitor

:21.DESC    86400    monitor
:21.EGU     86400    monitor
:21.VAL     86400    monitor
:21.DVAL    86400    monitor
:21.DRBV    86400    monitor
:21.RBV     86400    monitor
:21.DMOV    86400    monitor
:21.MSTA    86400    monitor
:21.DHLM    86400    monitor
:21.DLLM    86400    monitor
:21.HLM     86400    monitor
:21.LLM     86400    monitor
:21.BL      86400    monitor
:21.BDST    86400    monitor
:21.HTYP    86400    monitor
:21.HSET    86400    monitor
:21.DIR     86400    monitor
:21.OFF     86400    monitor
:21.TWV     86400    monitor
:21.ACCL    86400    monitor
:21.VELO    86400    monitor
:21.HACC    86400    monitor
:21.HVEL    86400    monitor
:21.MINJ    86400    monitor
:21.MAXJ    86400    monitor
:21.RDBD    86400    monitor
:21.RTRY    86400    monitor
:21.UINT    86400    monitor
:21.PDBD    86400    monitor

:22.DESC    86400    monitor
:22.EGU     86400    monitor
:22.VAL     86400    monitor
:22.DVAL    86400    monitor
:22.DRBV    86400    monitor
:22.RBV     86400    monitor
:22.DMOV    86400    monitor
:22.MSTA    86400    monitor
:22.DHLM    86400    monitor
:22.DLLM    86400    monitor
:22.HLM     86400    monitor
:22.LLM     86400    monitor
:22.BL      86400    monitor
:22.BDST    86400    monitor
:22.HTYP    86400    monitor
:22.HSET    86400    monitor
:22.DIR     86400    monitor
:22.OFF     86400    monitor
:22.TWV     86400    monitor
:22.ACCL    86400    monitor
:22.VELO    86400    monitor
:22.HACC    86400    monitor
:22.HVEL    86400    monitor
:22.MINJ    86400    monitor
:22.MAXJ    86400    monitor
:22.RDBD    86400    monitor
:22.RTRY    86400    monitor
:22.UINT    86400    monitor
:22.PDBD    86400    monitor

:23.DESC    86400    monitor
:23.EGU     86400    monitor
:23.VAL     86400    monitor
:23.DVAL    86400    monitor
:23.DRBV    86400    monitor
:23.RBV     86400    monitor
:23.DMOV    86400    monitor
:23.MSTA    86400    monitor
:23.DHLM    86400    monitor
:23.DLLM    86400    monitor
:23.HLM     86400    monitor
:23.LLM     86400    monitor
:23.BL      86400    monitor
:23.BDST    86400    monitor
:23.HTYP    86400    monitor
:23.HSET    86400    monitor
:23.DIR     86400    monitor
:23.OFF     86400    monitor
:23.TWV     86400    monitor
:23.ACCL    86400    monitor
:23.VELO    86400    monitor
:23.HACC    86400    monitor
:23.HVEL    86400    monitor
:23.MINJ    86400    monitor
:23.MAXJ    86400    monitor
:23.RDBD    86400    monitor
:23.RTRY    86400    monitor
:23.UINT    86400    monitor
:23.PDBD    86400    monitor

:24.DESC    86400    monitor
:24.EGU     86400    monitor
:24.VAL     86400    monitor
:24.DVAL    86400    monitor
:24.DRBV    86400    monitor
:24.RBV     86400    monitor
:24.DMOV    86400    monitor
:24.MSTA    86400    monitor
:24.DHLM    86400    monitor
:24.DLLM    86400    monitor
:24.HLM     86400    monitor
:24.LLM     86400    monitor
:24.BL      86400    monitor
:24.BDST    86400    monitor
:24.HTYP    86400    monitor
:24.HSET    86400    monitor
:24.DIR     86400    monitor
:24.OFF     86400    monitor
:24.TWV     86400    monitor
:24.ACCL    86400    monitor
:24.VELO    86400    monitor
:24.HACC    86400    monitor
:24.HVEL    86400    monitor
:24.MINJ    86400    monitor
:24.MAXJ    86400    monitor
:24.RDBD    86400    monitor
:24.RTRY    86400    monitor
:24.UINT    86400    monitor
:24.PDBD    86400    monitor

