$(DEVICE)_0916:UpdateClock.SCAN    86400    monitor
$(DEVICE)_0916:UpdateMultiplier    86400    monitor

$(DEVICE)_0916.DFUT                86400    monitor

$(DEVICE):09.PTYP    86400    monitor
$(DEVICE):09.DESC    86400    monitor
$(DEVICE):09.EGU     86400    monitor
$(DEVICE):09.VAL     86400    monitor
$(DEVICE):09.DVAL    86400    monitor
$(DEVICE):09.DRBV    86400    monitor
$(DEVICE):09.RBV     86400    monitor
$(DEVICE):09.DMOV    86400    monitor
$(DEVICE):09.MSTA    86400    monitor
$(DEVICE):09.DHLM    86400    monitor
$(DEVICE):09.DLLM    86400    monitor
$(DEVICE):09.HLM     86400    monitor
$(DEVICE):09.LLM     86400    monitor
$(DEVICE):09.BL      86400    monitor
$(DEVICE):09.BDST    86400    monitor
$(DEVICE):09.HTYP    86400    monitor
$(DEVICE):09.HSET    86400    monitor
$(DEVICE):09.DIR     86400    monitor
$(DEVICE):09.OFF     86400    monitor
$(DEVICE):09.TWV     86400    monitor
$(DEVICE):09.ACCL    86400    monitor
$(DEVICE):09.VELO    86400    monitor
$(DEVICE):09.HACC    86400    monitor
$(DEVICE):09.HVEL    86400    monitor
$(DEVICE):09.MINJ    86400    monitor
$(DEVICE):09.MAXJ    86400    monitor
$(DEVICE):09.RDBD    86400    monitor
$(DEVICE):09.RTRY    86400    monitor
$(DEVICE):09.UINT    86400    monitor
$(DEVICE):09.PDBD    86400    monitor

$(DEVICE):10.PTYP    86400    monitor
$(DEVICE):10.DESC    86400    monitor
$(DEVICE):10.EGU     86400    monitor
$(DEVICE):10.VAL     86400    monitor
$(DEVICE):10.DVAL    86400    monitor
$(DEVICE):10.DRBV    86400    monitor
$(DEVICE):10.RBV     86400    monitor
$(DEVICE):10.DMOV    86400    monitor
$(DEVICE):10.MSTA    86400    monitor
$(DEVICE):10.DHLM    86400    monitor
$(DEVICE):10.DLLM    86400    monitor
$(DEVICE):10.HLM     86400    monitor
$(DEVICE):10.LLM     86400    monitor
$(DEVICE):10.BL      86400    monitor
$(DEVICE):10.BDST    86400    monitor
$(DEVICE):10.HTYP    86400    monitor
$(DEVICE):10.HSET    86400    monitor
$(DEVICE):10.DIR     86400    monitor
$(DEVICE):10.OFF     86400    monitor
$(DEVICE):10.TWV     86400    monitor
$(DEVICE):10.ACCL    86400    monitor
$(DEVICE):10.VELO    86400    monitor
$(DEVICE):10.HACC    86400    monitor
$(DEVICE):10.HVEL    86400    monitor
$(DEVICE):10.MINJ    86400    monitor
$(DEVICE):10.MAXJ    86400    monitor
$(DEVICE):10.RDBD    86400    monitor
$(DEVICE):10.RTRY    86400    monitor
$(DEVICE):10.UINT    86400    monitor
$(DEVICE):10.PDBD    86400    monitor

$(DEVICE):11.PTYP    86400    monitor
$(DEVICE):11.DESC    86400    monitor
$(DEVICE):11.EGU     86400    monitor
$(DEVICE):11.VAL     86400    monitor
$(DEVICE):11.DVAL    86400    monitor
$(DEVICE):11.DRBV    86400    monitor
$(DEVICE):11.RBV     86400    monitor
$(DEVICE):11.DMOV    86400    monitor
$(DEVICE):11.MSTA    86400    monitor
$(DEVICE):11.DHLM    86400    monitor
$(DEVICE):11.DLLM    86400    monitor
$(DEVICE):11.HLM     86400    monitor
$(DEVICE):11.LLM     86400    monitor
$(DEVICE):11.BL      86400    monitor
$(DEVICE):11.BDST    86400    monitor
$(DEVICE):11.HTYP    86400    monitor
$(DEVICE):11.HSET    86400    monitor
$(DEVICE):11.DIR     86400    monitor
$(DEVICE):11.OFF     86400    monitor
$(DEVICE):11.TWV     86400    monitor
$(DEVICE):11.ACCL    86400    monitor
$(DEVICE):11.VELO    86400    monitor
$(DEVICE):11.HACC    86400    monitor
$(DEVICE):11.HVEL    86400    monitor
$(DEVICE):11.MINJ    86400    monitor
$(DEVICE):11.MAXJ    86400    monitor
$(DEVICE):11.RDBD    86400    monitor
$(DEVICE):11.RTRY    86400    monitor
$(DEVICE):11.UINT    86400    monitor
$(DEVICE):11.PDBD    86400    monitor

$(DEVICE):12.PTYP    86400    monitor
$(DEVICE):12.DESC    86400    monitor
$(DEVICE):12.EGU     86400    monitor
$(DEVICE):12.VAL     86400    monitor
$(DEVICE):12.DVAL    86400    monitor
$(DEVICE):12.DRBV    86400    monitor
$(DEVICE):12.RBV     86400    monitor
$(DEVICE):12.DMOV    86400    monitor
$(DEVICE):12.MSTA    86400    monitor
$(DEVICE):12.DHLM    86400    monitor
$(DEVICE):12.DLLM    86400    monitor
$(DEVICE):12.HLM     86400    monitor
$(DEVICE):12.LLM     86400    monitor
$(DEVICE):12.BL      86400    monitor
$(DEVICE):12.BDST    86400    monitor
$(DEVICE):12.HTYP    86400    monitor
$(DEVICE):12.HSET    86400    monitor
$(DEVICE):12.DIR     86400    monitor
$(DEVICE):12.OFF     86400    monitor
$(DEVICE):12.TWV     86400    monitor
$(DEVICE):12.ACCL    86400    monitor
$(DEVICE):12.VELO    86400    monitor
$(DEVICE):12.HACC    86400    monitor
$(DEVICE):12.HVEL    86400    monitor
$(DEVICE):12.MINJ    86400    monitor
$(DEVICE):12.MAXJ    86400    monitor
$(DEVICE):12.RDBD    86400    monitor
$(DEVICE):12.RTRY    86400    monitor
$(DEVICE):12.UINT    86400    monitor
$(DEVICE):12.PDBD    86400    monitor

$(DEVICE):13.PTYP    86400    monitor
$(DEVICE):13.DESC    86400    monitor
$(DEVICE):13.EGU     86400    monitor
$(DEVICE):13.VAL     86400    monitor
$(DEVICE):13.DVAL    86400    monitor
$(DEVICE):13.DRBV    86400    monitor
$(DEVICE):13.RBV     86400    monitor
$(DEVICE):13.DMOV    86400    monitor
$(DEVICE):13.MSTA    86400    monitor
$(DEVICE):13.DHLM    86400    monitor
$(DEVICE):13.DLLM    86400    monitor
$(DEVICE):13.HLM     86400    monitor
$(DEVICE):13.LLM     86400    monitor
$(DEVICE):13.BL      86400    monitor
$(DEVICE):13.BDST    86400    monitor
$(DEVICE):13.HTYP    86400    monitor
$(DEVICE):13.HSET    86400    monitor
$(DEVICE):13.DIR     86400    monitor
$(DEVICE):13.OFF     86400    monitor
$(DEVICE):13.TWV     86400    monitor
$(DEVICE):13.ACCL    86400    monitor
$(DEVICE):13.VELO    86400    monitor
$(DEVICE):13.HACC    86400    monitor
$(DEVICE):13.HVEL    86400    monitor
$(DEVICE):13.MINJ    86400    monitor
$(DEVICE):13.MAXJ    86400    monitor
$(DEVICE):13.RDBD    86400    monitor
$(DEVICE):13.RTRY    86400    monitor
$(DEVICE):13.UINT    86400    monitor
$(DEVICE):13.PDBD    86400    monitor

$(DEVICE):14.PTYP    86400    monitor
$(DEVICE):14.DESC    86400    monitor
$(DEVICE):14.EGU     86400    monitor
$(DEVICE):14.VAL     86400    monitor
$(DEVICE):14.DVAL    86400    monitor
$(DEVICE):14.DRBV    86400    monitor
$(DEVICE):14.RBV     86400    monitor
$(DEVICE):14.DMOV    86400    monitor
$(DEVICE):14.MSTA    86400    monitor
$(DEVICE):14.DHLM    86400    monitor
$(DEVICE):14.DLLM    86400    monitor
$(DEVICE):14.HLM     86400    monitor
$(DEVICE):14.LLM     86400    monitor
$(DEVICE):14.BL      86400    monitor
$(DEVICE):14.BDST    86400    monitor
$(DEVICE):14.HTYP    86400    monitor
$(DEVICE):14.HSET    86400    monitor
$(DEVICE):14.DIR     86400    monitor
$(DEVICE):14.OFF     86400    monitor
$(DEVICE):14.TWV     86400    monitor
$(DEVICE):14.ACCL    86400    monitor
$(DEVICE):14.VELO    86400    monitor
$(DEVICE):14.HACC    86400    monitor
$(DEVICE):14.HVEL    86400    monitor
$(DEVICE):14.MINJ    86400    monitor
$(DEVICE):14.MAXJ    86400    monitor
$(DEVICE):14.RDBD    86400    monitor
$(DEVICE):14.RTRY    86400    monitor
$(DEVICE):14.UINT    86400    monitor
$(DEVICE):14.PDBD    86400    monitor

$(DEVICE):15.PTYP    86400    monitor
$(DEVICE):15.DESC    86400    monitor
$(DEVICE):15.EGU     86400    monitor
$(DEVICE):15.VAL     86400    monitor
$(DEVICE):15.DVAL    86400    monitor
$(DEVICE):15.DRBV    86400    monitor
$(DEVICE):15.RBV     86400    monitor
$(DEVICE):15.DMOV    86400    monitor
$(DEVICE):15.MSTA    86400    monitor
$(DEVICE):15.DHLM    86400    monitor
$(DEVICE):15.DLLM    86400    monitor
$(DEVICE):15.HLM     86400    monitor
$(DEVICE):15.LLM     86400    monitor
$(DEVICE):15.BL      86400    monitor
$(DEVICE):15.BDST    86400    monitor
$(DEVICE):15.HTYP    86400    monitor
$(DEVICE):15.HSET    86400    monitor
$(DEVICE):15.DIR     86400    monitor
$(DEVICE):15.OFF     86400    monitor
$(DEVICE):15.TWV     86400    monitor
$(DEVICE):15.ACCL    86400    monitor
$(DEVICE):15.VELO    86400    monitor
$(DEVICE):15.HACC    86400    monitor
$(DEVICE):15.HVEL    86400    monitor
$(DEVICE):15.MINJ    86400    monitor
$(DEVICE):15.MAXJ    86400    monitor
$(DEVICE):15.RDBD    86400    monitor
$(DEVICE):15.RTRY    86400    monitor
$(DEVICE):15.UINT    86400    monitor
$(DEVICE):15.PDBD    86400    monitor

$(DEVICE):16.PTYP    86400    monitor
$(DEVICE):16.DESC    86400    monitor
$(DEVICE):16.EGU     86400    monitor
$(DEVICE):16.VAL     86400    monitor
$(DEVICE):16.DVAL    86400    monitor
$(DEVICE):16.DRBV    86400    monitor
$(DEVICE):16.RBV     86400    monitor
$(DEVICE):16.DMOV    86400    monitor
$(DEVICE):16.MSTA    86400    monitor
$(DEVICE):16.DHLM    86400    monitor
$(DEVICE):16.DLLM    86400    monitor
$(DEVICE):16.HLM     86400    monitor
$(DEVICE):16.LLM     86400    monitor
$(DEVICE):16.BL      86400    monitor
$(DEVICE):16.BDST    86400    monitor
$(DEVICE):16.HTYP    86400    monitor
$(DEVICE):16.HSET    86400    monitor
$(DEVICE):16.DIR     86400    monitor
$(DEVICE):16.OFF     86400    monitor
$(DEVICE):16.TWV     86400    monitor
$(DEVICE):16.ACCL    86400    monitor
$(DEVICE):16.VELO    86400    monitor
$(DEVICE):16.HACC    86400    monitor
$(DEVICE):16.HVEL    86400    monitor
$(DEVICE):16.MINJ    86400    monitor
$(DEVICE):16.MAXJ    86400    monitor
$(DEVICE):16.RDBD    86400    monitor
$(DEVICE):16.RTRY    86400    monitor
$(DEVICE):16.UINT    86400    monitor
$(DEVICE):16.PDBD    86400    monitor

