$(DEVICE)_4148:UpdateClock.SCAN
$(DEVICE)_4148:UpdateMultiplier

$(DEVICE):41.DESC
$(DEVICE):41.EGU
$(DEVICE):41.DHLM
$(DEVICE):41.DLLM
$(DEVICE):41.HLM
$(DEVICE):41.LLM
$(DEVICE):41.BL
$(DEVICE):41.BDST
$(DEVICE):41.HTYP
$(DEVICE):41.HSET
$(DEVICE):41.DIR
$(DEVICE):41.OFF
$(DEVICE):41.TWV
$(DEVICE):41.ACCL
$(DEVICE):41.VELO
$(DEVICE):41.HACC
$(DEVICE):41.HVEL
$(DEVICE):41.MINJ
$(DEVICE):41.MAXJ
$(DEVICE):41.RDBD
$(DEVICE):41.RTRY
$(DEVICE):41.UINT
$(DEVICE):41.PDBD
$(DEVICE):41.DRBV
$(DEVICE):41.RBV
$(DEVICE):41.DVAL
$(DEVICE):41.VAL

$(DEVICE):42.DESC
$(DEVICE):42.EGU
$(DEVICE):42.DHLM
$(DEVICE):42.DLLM
$(DEVICE):42.HLM
$(DEVICE):42.LLM
$(DEVICE):42.BL
$(DEVICE):42.BDST
$(DEVICE):42.HTYP
$(DEVICE):42.HSET
$(DEVICE):42.DIR
$(DEVICE):42.OFF
$(DEVICE):42.TWV
$(DEVICE):42.ACCL
$(DEVICE):42.VELO
$(DEVICE):42.HACC
$(DEVICE):42.HVEL
$(DEVICE):42.MINJ
$(DEVICE):42.MAXJ
$(DEVICE):42.RDBD
$(DEVICE):42.RTRY
$(DEVICE):42.UINT
$(DEVICE):42.PDBD
$(DEVICE):42.DRBV
$(DEVICE):42.RBV
$(DEVICE):42.DVAL
$(DEVICE):42.VAL

$(DEVICE):43.DESC
$(DEVICE):43.EGU
$(DEVICE):43.DHLM
$(DEVICE):43.DLLM
$(DEVICE):43.HLM
$(DEVICE):43.LLM
$(DEVICE):43.BL
$(DEVICE):43.BDST
$(DEVICE):43.HTYP
$(DEVICE):43.HSET
$(DEVICE):43.DIR
$(DEVICE):43.OFF
$(DEVICE):43.TWV
$(DEVICE):43.ACCL
$(DEVICE):43.VELO
$(DEVICE):43.HACC
$(DEVICE):43.HVEL
$(DEVICE):43.MINJ
$(DEVICE):43.MAXJ
$(DEVICE):43.RDBD
$(DEVICE):43.RTRY
$(DEVICE):43.UINT
$(DEVICE):43.PDBD
$(DEVICE):43.DRBV
$(DEVICE):43.RBV
$(DEVICE):43.DVAL
$(DEVICE):43.VAL

$(DEVICE):44.DESC
$(DEVICE):44.EGU
$(DEVICE):44.DHLM
$(DEVICE):44.DLLM
$(DEVICE):44.HLM
$(DEVICE):44.LLM
$(DEVICE):44.BL
$(DEVICE):44.BDST
$(DEVICE):44.HTYP
$(DEVICE):44.HSET
$(DEVICE):44.DIR
$(DEVICE):44.OFF
$(DEVICE):44.TWV
$(DEVICE):44.ACCL
$(DEVICE):44.VELO
$(DEVICE):44.HACC
$(DEVICE):44.HVEL
$(DEVICE):44.MINJ
$(DEVICE):44.MAXJ
$(DEVICE):44.RDBD
$(DEVICE):44.RTRY
$(DEVICE):44.UINT
$(DEVICE):44.PDBD
$(DEVICE):44.DRBV
$(DEVICE):44.RBV
$(DEVICE):44.DVAL
$(DEVICE):44.VAL

$(DEVICE):45.DESC
$(DEVICE):45.EGU
$(DEVICE):45.DHLM
$(DEVICE):45.DLLM
$(DEVICE):45.HLM
$(DEVICE):45.LLM
$(DEVICE):45.BL
$(DEVICE):45.BDST
$(DEVICE):45.HTYP
$(DEVICE):45.HSET
$(DEVICE):45.DIR
$(DEVICE):45.OFF
$(DEVICE):45.TWV
$(DEVICE):45.ACCL
$(DEVICE):45.VELO
$(DEVICE):45.HACC
$(DEVICE):45.HVEL
$(DEVICE):45.MINJ
$(DEVICE):45.MAXJ
$(DEVICE):45.RDBD
$(DEVICE):45.RTRY
$(DEVICE):45.UINT
$(DEVICE):45.PDBD
$(DEVICE):45.DRBV
$(DEVICE):45.RBV
$(DEVICE):45.DVAL
$(DEVICE):45.VAL

$(DEVICE):46.DESC
$(DEVICE):46.EGU
$(DEVICE):46.DHLM
$(DEVICE):46.DLLM
$(DEVICE):46.HLM
$(DEVICE):46.LLM
$(DEVICE):46.BL
$(DEVICE):46.BDST
$(DEVICE):46.HTYP
$(DEVICE):46.HSET
$(DEVICE):46.DIR
$(DEVICE):46.OFF
$(DEVICE):46.TWV
$(DEVICE):46.ACCL
$(DEVICE):46.VELO
$(DEVICE):46.HACC
$(DEVICE):46.HVEL
$(DEVICE):46.MINJ
$(DEVICE):46.MAXJ
$(DEVICE):46.RDBD
$(DEVICE):46.RTRY
$(DEVICE):46.UINT
$(DEVICE):46.PDBD
$(DEVICE):46.DRBV
$(DEVICE):46.RBV
$(DEVICE):46.DVAL
$(DEVICE):46.VAL

$(DEVICE):47.DESC
$(DEVICE):47.EGU
$(DEVICE):47.DHLM
$(DEVICE):47.DLLM
$(DEVICE):47.HLM
$(DEVICE):47.LLM
$(DEVICE):47.BL
$(DEVICE):47.BDST
$(DEVICE):47.HTYP
$(DEVICE):47.HSET
$(DEVICE):47.DIR
$(DEVICE):47.OFF
$(DEVICE):47.TWV
$(DEVICE):47.ACCL
$(DEVICE):47.VELO
$(DEVICE):47.HACC
$(DEVICE):47.HVEL
$(DEVICE):47.MINJ
$(DEVICE):47.MAXJ
$(DEVICE):47.RDBD
$(DEVICE):47.RTRY
$(DEVICE):47.UINT
$(DEVICE):47.PDBD
$(DEVICE):47.DRBV
$(DEVICE):47.RBV
$(DEVICE):47.DVAL
$(DEVICE):47.VAL

$(DEVICE):48.DESC
$(DEVICE):48.EGU
$(DEVICE):48.DHLM
$(DEVICE):48.DLLM
$(DEVICE):48.HLM
$(DEVICE):48.LLM
$(DEVICE):48.BL
$(DEVICE):48.BDST
$(DEVICE):48.HTYP
$(DEVICE):48.HSET
$(DEVICE):48.DIR
$(DEVICE):48.OFF
$(DEVICE):48.TWV
$(DEVICE):48.ACCL
$(DEVICE):48.VELO
$(DEVICE):48.HACC
$(DEVICE):48.HVEL
$(DEVICE):48.MINJ
$(DEVICE):48.MAXJ
$(DEVICE):48.RDBD
$(DEVICE):48.RTRY
$(DEVICE):48.UINT
$(DEVICE):48.PDBD
$(DEVICE):48.DRBV
$(DEVICE):48.RBV
$(DEVICE):48.DVAL
$(DEVICE):48.VAL

