_0916:UpdateClock.SCAN
_0916:UpdateMultiplier

:09.DESC
:09.EGU
:09.DHLM
:09.DLLM
:09.HLM
:09.LLM
:09.BL
:09.BDST
:09.HTYP
:09.HSET
:09.DIR
:09.OFF
:09.TWV
:09.ACCL
:09.VELO
:09.HACC
:09.HVEL
:09.MINJ
:09.MAXJ
:09.RDBD
:09.RTRY
:09.UINT
:09.PDBD
:09.DRBV
:09.RBV
:09.DVAL
:09.VAL

:10.DESC
:10.EGU
:10.DHLM
:10.DLLM
:10.HLM
:10.LLM
:10.BL
:10.BDST
:10.HTYP
:10.HSET
:10.DIR
:10.OFF
:10.TWV
:10.ACCL
:10.VELO
:10.HACC
:10.HVEL
:10.MINJ
:10.MAXJ
:10.RDBD
:10.RTRY
:10.UINT
:10.PDBD
:10.DRBV
:10.RBV
:10.DVAL
:10.VAL

:11.DESC
:11.EGU
:11.DHLM
:11.DLLM
:11.HLM
:11.LLM
:11.BL
:11.BDST
:11.HTYP
:11.HSET
:11.DIR
:11.OFF
:11.TWV
:11.ACCL
:11.VELO
:11.HACC
:11.HVEL
:11.MINJ
:11.MAXJ
:11.RDBD
:11.RTRY
:11.UINT
:11.PDBD
:11.DRBV
:11.RBV
:11.DVAL
:11.VAL

:12.DESC
:12.EGU
:12.DHLM
:12.DLLM
:12.HLM
:12.LLM
:12.BL
:12.BDST
:12.HTYP
:12.HSET
:12.DIR
:12.OFF
:12.TWV
:12.ACCL
:12.VELO
:12.HACC
:12.HVEL
:12.MINJ
:12.MAXJ
:12.RDBD
:12.RTRY
:12.UINT
:12.PDBD
:12.DRBV
:12.RBV
:12.DVAL
:12.VAL

:13.DESC
:13.EGU
:13.DHLM
:13.DLLM
:13.HLM
:13.LLM
:13.BL
:13.BDST
:13.HTYP
:13.HSET
:13.DIR
:13.OFF
:13.TWV
:13.ACCL
:13.VELO
:13.HACC
:13.HVEL
:13.MINJ
:13.MAXJ
:13.RDBD
:13.RTRY
:13.UINT
:13.PDBD
:13.DRBV
:13.RBV
:13.DVAL
:13.VAL

:14.DESC
:14.EGU
:14.DHLM
:14.DLLM
:14.HLM
:14.LLM
:14.BL
:14.BDST
:14.HTYP
:14.HSET
:14.DIR
:14.OFF
:14.TWV
:14.ACCL
:14.VELO
:14.HACC
:14.HVEL
:14.MINJ
:14.MAXJ
:14.RDBD
:14.RTRY
:14.UINT
:14.PDBD
:14.DRBV
:14.RBV
:14.DVAL
:14.VAL

:15.DESC
:15.EGU
:15.DHLM
:15.DLLM
:15.HLM
:15.LLM
:15.BL
:15.BDST
:15.HTYP
:15.HSET
:15.DIR
:15.OFF
:15.TWV
:15.ACCL
:15.VELO
:15.HACC
:15.HVEL
:15.MINJ
:15.MAXJ
:15.RDBD
:15.RTRY
:15.UINT
:15.PDBD
:15.DRBV
:15.RBV
:15.DVAL
:15.VAL

:16.DESC
:16.EGU
:16.DHLM
:16.DLLM
:16.HLM
:16.LLM
:16.BL
:16.BDST
:16.HTYP
:16.HSET
:16.DIR
:16.OFF
:16.TWV
:16.ACCL
:16.VELO
:16.HACC
:16.HVEL
:16.MINJ
:16.MAXJ
:16.RDBD
:16.RTRY
:16.UINT
:16.PDBD
:16.DRBV
:16.RBV
:16.DVAL
:16.VAL

