$(DEVICE)_1724:UpdateClock.SCAN    86400    monitor
$(DEVICE)_1724:UpdateMultiplier    86400    monitor

$(DEVICE):17.DESC    86400    monitor
$(DEVICE):17.EGU     86400    monitor
$(DEVICE):17.VAL     86400    monitor
$(DEVICE):17.DVAL    86400    monitor
$(DEVICE):17.DRBV    86400    monitor
$(DEVICE):17.RBV     86400    monitor
$(DEVICE):17.DMOV    86400    monitor
$(DEVICE):17.MSTA    86400    monitor
$(DEVICE):17.DHLM    86400    monitor
$(DEVICE):17.DLLM    86400    monitor
$(DEVICE):17.HLM     86400    monitor
$(DEVICE):17.LLM     86400    monitor
$(DEVICE):17.BL      86400    monitor
$(DEVICE):17.BDST    86400    monitor
$(DEVICE):17.HTYP    86400    monitor
$(DEVICE):17.HSET    86400    monitor
$(DEVICE):17.DIR     86400    monitor
$(DEVICE):17.OFF     86400    monitor
$(DEVICE):17.TWV     86400    monitor
$(DEVICE):17.ACCL    86400    monitor
$(DEVICE):17.VELO    86400    monitor
$(DEVICE):17.HACC    86400    monitor
$(DEVICE):17.HVEL    86400    monitor
$(DEVICE):17.MINJ    86400    monitor
$(DEVICE):17.MAXJ    86400    monitor
$(DEVICE):17.RDBD    86400    monitor
$(DEVICE):17.RTRY    86400    monitor
$(DEVICE):17.UINT    86400    monitor
$(DEVICE):17.PDBD    86400    monitor

$(DEVICE):18.DESC    86400    monitor
$(DEVICE):18.EGU     86400    monitor
$(DEVICE):18.VAL     86400    monitor
$(DEVICE):18.DVAL    86400    monitor
$(DEVICE):18.DRBV    86400    monitor
$(DEVICE):18.RBV     86400    monitor
$(DEVICE):18.DMOV    86400    monitor
$(DEVICE):18.MSTA    86400    monitor
$(DEVICE):18.DHLM    86400    monitor
$(DEVICE):18.DLLM    86400    monitor
$(DEVICE):18.HLM     86400    monitor
$(DEVICE):18.LLM     86400    monitor
$(DEVICE):18.BL      86400    monitor
$(DEVICE):18.BDST    86400    monitor
$(DEVICE):18.HTYP    86400    monitor
$(DEVICE):18.HSET    86400    monitor
$(DEVICE):18.DIR     86400    monitor
$(DEVICE):18.OFF     86400    monitor
$(DEVICE):18.TWV     86400    monitor
$(DEVICE):18.ACCL    86400    monitor
$(DEVICE):18.VELO    86400    monitor
$(DEVICE):18.HACC    86400    monitor
$(DEVICE):18.HVEL    86400    monitor
$(DEVICE):18.MINJ    86400    monitor
$(DEVICE):18.MAXJ    86400    monitor
$(DEVICE):18.RDBD    86400    monitor
$(DEVICE):18.RTRY    86400    monitor
$(DEVICE):18.UINT    86400    monitor
$(DEVICE):18.PDBD    86400    monitor

$(DEVICE):19.DESC    86400    monitor
$(DEVICE):19.EGU     86400    monitor
$(DEVICE):19.VAL     86400    monitor
$(DEVICE):19.DVAL    86400    monitor
$(DEVICE):19.DRBV    86400    monitor
$(DEVICE):19.RBV     86400    monitor
$(DEVICE):19.DMOV    86400    monitor
$(DEVICE):19.MSTA    86400    monitor
$(DEVICE):19.DHLM    86400    monitor
$(DEVICE):19.DLLM    86400    monitor
$(DEVICE):19.HLM     86400    monitor
$(DEVICE):19.LLM     86400    monitor
$(DEVICE):19.BL      86400    monitor
$(DEVICE):19.BDST    86400    monitor
$(DEVICE):19.HTYP    86400    monitor
$(DEVICE):19.HSET    86400    monitor
$(DEVICE):19.DIR     86400    monitor
$(DEVICE):19.OFF     86400    monitor
$(DEVICE):19.TWV     86400    monitor
$(DEVICE):19.ACCL    86400    monitor
$(DEVICE):19.VELO    86400    monitor
$(DEVICE):19.HACC    86400    monitor
$(DEVICE):19.HVEL    86400    monitor
$(DEVICE):19.MINJ    86400    monitor
$(DEVICE):19.MAXJ    86400    monitor
$(DEVICE):19.RDBD    86400    monitor
$(DEVICE):19.RTRY    86400    monitor
$(DEVICE):19.UINT    86400    monitor
$(DEVICE):19.PDBD    86400    monitor

$(DEVICE):20.DESC    86400    monitor
$(DEVICE):20.EGU     86400    monitor
$(DEVICE):20.VAL     86400    monitor
$(DEVICE):20.DVAL    86400    monitor
$(DEVICE):20.DRBV    86400    monitor
$(DEVICE):20.RBV     86400    monitor
$(DEVICE):20.DMOV    86400    monitor
$(DEVICE):20.MSTA    86400    monitor
$(DEVICE):20.DHLM    86400    monitor
$(DEVICE):20.DLLM    86400    monitor
$(DEVICE):20.HLM     86400    monitor
$(DEVICE):20.LLM     86400    monitor
$(DEVICE):20.BL      86400    monitor
$(DEVICE):20.BDST    86400    monitor
$(DEVICE):20.HTYP    86400    monitor
$(DEVICE):20.HSET    86400    monitor
$(DEVICE):20.DIR     86400    monitor
$(DEVICE):20.OFF     86400    monitor
$(DEVICE):20.TWV     86400    monitor
$(DEVICE):20.ACCL    86400    monitor
$(DEVICE):20.VELO    86400    monitor
$(DEVICE):20.HACC    86400    monitor
$(DEVICE):20.HVEL    86400    monitor
$(DEVICE):20.MINJ    86400    monitor
$(DEVICE):20.MAXJ    86400    monitor
$(DEVICE):20.RDBD    86400    monitor
$(DEVICE):20.RTRY    86400    monitor
$(DEVICE):20.UINT    86400    monitor
$(DEVICE):20.PDBD    86400    monitor

$(DEVICE):21.DESC    86400    monitor
$(DEVICE):21.EGU     86400    monitor
$(DEVICE):21.VAL     86400    monitor
$(DEVICE):21.DVAL    86400    monitor
$(DEVICE):21.DRBV    86400    monitor
$(DEVICE):21.RBV     86400    monitor
$(DEVICE):21.DMOV    86400    monitor
$(DEVICE):21.MSTA    86400    monitor
$(DEVICE):21.DHLM    86400    monitor
$(DEVICE):21.DLLM    86400    monitor
$(DEVICE):21.HLM     86400    monitor
$(DEVICE):21.LLM     86400    monitor
$(DEVICE):21.BL      86400    monitor
$(DEVICE):21.BDST    86400    monitor
$(DEVICE):21.HTYP    86400    monitor
$(DEVICE):21.HSET    86400    monitor
$(DEVICE):21.DIR     86400    monitor
$(DEVICE):21.OFF     86400    monitor
$(DEVICE):21.TWV     86400    monitor
$(DEVICE):21.ACCL    86400    monitor
$(DEVICE):21.VELO    86400    monitor
$(DEVICE):21.HACC    86400    monitor
$(DEVICE):21.HVEL    86400    monitor
$(DEVICE):21.MINJ    86400    monitor
$(DEVICE):21.MAXJ    86400    monitor
$(DEVICE):21.RDBD    86400    monitor
$(DEVICE):21.RTRY    86400    monitor
$(DEVICE):21.UINT    86400    monitor
$(DEVICE):21.PDBD    86400    monitor

$(DEVICE):22.DESC    86400    monitor
$(DEVICE):22.EGU     86400    monitor
$(DEVICE):22.VAL     86400    monitor
$(DEVICE):22.DVAL    86400    monitor
$(DEVICE):22.DRBV    86400    monitor
$(DEVICE):22.RBV     86400    monitor
$(DEVICE):22.DMOV    86400    monitor
$(DEVICE):22.MSTA    86400    monitor
$(DEVICE):22.DHLM    86400    monitor
$(DEVICE):22.DLLM    86400    monitor
$(DEVICE):22.HLM     86400    monitor
$(DEVICE):22.LLM     86400    monitor
$(DEVICE):22.BL      86400    monitor
$(DEVICE):22.BDST    86400    monitor
$(DEVICE):22.HTYP    86400    monitor
$(DEVICE):22.HSET    86400    monitor
$(DEVICE):22.DIR     86400    monitor
$(DEVICE):22.OFF     86400    monitor
$(DEVICE):22.TWV     86400    monitor
$(DEVICE):22.ACCL    86400    monitor
$(DEVICE):22.VELO    86400    monitor
$(DEVICE):22.HACC    86400    monitor
$(DEVICE):22.HVEL    86400    monitor
$(DEVICE):22.MINJ    86400    monitor
$(DEVICE):22.MAXJ    86400    monitor
$(DEVICE):22.RDBD    86400    monitor
$(DEVICE):22.RTRY    86400    monitor
$(DEVICE):22.UINT    86400    monitor
$(DEVICE):22.PDBD    86400    monitor

$(DEVICE):23.DESC    86400    monitor
$(DEVICE):23.EGU     86400    monitor
$(DEVICE):23.VAL     86400    monitor
$(DEVICE):23.DVAL    86400    monitor
$(DEVICE):23.DRBV    86400    monitor
$(DEVICE):23.RBV     86400    monitor
$(DEVICE):23.DMOV    86400    monitor
$(DEVICE):23.MSTA    86400    monitor
$(DEVICE):23.DHLM    86400    monitor
$(DEVICE):23.DLLM    86400    monitor
$(DEVICE):23.HLM     86400    monitor
$(DEVICE):23.LLM     86400    monitor
$(DEVICE):23.BL      86400    monitor
$(DEVICE):23.BDST    86400    monitor
$(DEVICE):23.HTYP    86400    monitor
$(DEVICE):23.HSET    86400    monitor
$(DEVICE):23.DIR     86400    monitor
$(DEVICE):23.OFF     86400    monitor
$(DEVICE):23.TWV     86400    monitor
$(DEVICE):23.ACCL    86400    monitor
$(DEVICE):23.VELO    86400    monitor
$(DEVICE):23.HACC    86400    monitor
$(DEVICE):23.HVEL    86400    monitor
$(DEVICE):23.MINJ    86400    monitor
$(DEVICE):23.MAXJ    86400    monitor
$(DEVICE):23.RDBD    86400    monitor
$(DEVICE):23.RTRY    86400    monitor
$(DEVICE):23.UINT    86400    monitor
$(DEVICE):23.PDBD    86400    monitor

$(DEVICE):24.DESC    86400    monitor
$(DEVICE):24.EGU     86400    monitor
$(DEVICE):24.VAL     86400    monitor
$(DEVICE):24.DVAL    86400    monitor
$(DEVICE):24.DRBV    86400    monitor
$(DEVICE):24.RBV     86400    monitor
$(DEVICE):24.DMOV    86400    monitor
$(DEVICE):24.MSTA    86400    monitor
$(DEVICE):24.DHLM    86400    monitor
$(DEVICE):24.DLLM    86400    monitor
$(DEVICE):24.HLM     86400    monitor
$(DEVICE):24.LLM     86400    monitor
$(DEVICE):24.BL      86400    monitor
$(DEVICE):24.BDST    86400    monitor
$(DEVICE):24.HTYP    86400    monitor
$(DEVICE):24.HSET    86400    monitor
$(DEVICE):24.DIR     86400    monitor
$(DEVICE):24.OFF     86400    monitor
$(DEVICE):24.TWV     86400    monitor
$(DEVICE):24.ACCL    86400    monitor
$(DEVICE):24.VELO    86400    monitor
$(DEVICE):24.HACC    86400    monitor
$(DEVICE):24.HVEL    86400    monitor
$(DEVICE):24.MINJ    86400    monitor
$(DEVICE):24.MAXJ    86400    monitor
$(DEVICE):24.RDBD    86400    monitor
$(DEVICE):24.RTRY    86400    monitor
$(DEVICE):24.UINT    86400    monitor
$(DEVICE):24.PDBD    86400    monitor

