$(DEVICE)_3340:UpdateMultiplier

$(DEVICE)_3340.DFUT

$(DEVICE):33.PTYP
$(DEVICE):33.DESC
$(DEVICE):33.EGU
$(DEVICE):33.DHLM
$(DEVICE):33.DLLM
$(DEVICE):33.HLM
$(DEVICE):33.LLM
$(DEVICE):33.BL
$(DEVICE):33.BDST
$(DEVICE):33.HTYP
$(DEVICE):33.HSET
$(DEVICE):33.DIR
$(DEVICE):33.OFF
$(DEVICE):33.TWV
$(DEVICE):33.ACCL
$(DEVICE):33.VELO
$(DEVICE):33.HACC
$(DEVICE):33.HVEL
$(DEVICE):33.MINJ
$(DEVICE):33.MAXJ
$(DEVICE):33.RDBD
$(DEVICE):33.RTRY
$(DEVICE):33.UINT
$(DEVICE):33.PDBD
$(DEVICE):33.DRBV
$(DEVICE):33.RBV
$(DEVICE):33.DVAL
$(DEVICE):33.VAL

$(DEVICE):34.PTYP
$(DEVICE):34.DESC
$(DEVICE):34.EGU
$(DEVICE):34.DHLM
$(DEVICE):34.DLLM
$(DEVICE):34.HLM
$(DEVICE):34.LLM
$(DEVICE):34.BL
$(DEVICE):34.BDST
$(DEVICE):34.HTYP
$(DEVICE):34.HSET
$(DEVICE):34.DIR
$(DEVICE):34.OFF
$(DEVICE):34.TWV
$(DEVICE):34.ACCL
$(DEVICE):34.VELO
$(DEVICE):34.HACC
$(DEVICE):34.HVEL
$(DEVICE):34.MINJ
$(DEVICE):34.MAXJ
$(DEVICE):34.RDBD
$(DEVICE):34.RTRY
$(DEVICE):34.UINT
$(DEVICE):34.PDBD
$(DEVICE):34.DRBV
$(DEVICE):34.RBV
$(DEVICE):34.DVAL
$(DEVICE):34.VAL

$(DEVICE):35.PTYP
$(DEVICE):35.DESC
$(DEVICE):35.EGU
$(DEVICE):35.DHLM
$(DEVICE):35.DLLM
$(DEVICE):35.HLM
$(DEVICE):35.LLM
$(DEVICE):35.BL
$(DEVICE):35.BDST
$(DEVICE):35.HTYP
$(DEVICE):35.HSET
$(DEVICE):35.DIR
$(DEVICE):35.OFF
$(DEVICE):35.TWV
$(DEVICE):35.ACCL
$(DEVICE):35.VELO
$(DEVICE):35.HACC
$(DEVICE):35.HVEL
$(DEVICE):35.MINJ
$(DEVICE):35.MAXJ
$(DEVICE):35.RDBD
$(DEVICE):35.RTRY
$(DEVICE):35.UINT
$(DEVICE):35.PDBD
$(DEVICE):35.DRBV
$(DEVICE):35.RBV
$(DEVICE):35.DVAL
$(DEVICE):35.VAL

$(DEVICE):36.PTYP
$(DEVICE):36.DESC
$(DEVICE):36.EGU
$(DEVICE):36.DHLM
$(DEVICE):36.DLLM
$(DEVICE):36.HLM
$(DEVICE):36.LLM
$(DEVICE):36.BL
$(DEVICE):36.BDST
$(DEVICE):36.HTYP
$(DEVICE):36.HSET
$(DEVICE):36.DIR
$(DEVICE):36.OFF
$(DEVICE):36.TWV
$(DEVICE):36.ACCL
$(DEVICE):36.VELO
$(DEVICE):36.HACC
$(DEVICE):36.HVEL
$(DEVICE):36.MINJ
$(DEVICE):36.MAXJ
$(DEVICE):36.RDBD
$(DEVICE):36.RTRY
$(DEVICE):36.UINT
$(DEVICE):36.PDBD
$(DEVICE):36.DRBV
$(DEVICE):36.RBV
$(DEVICE):36.DVAL
$(DEVICE):36.VAL

$(DEVICE):37.PTYP
$(DEVICE):37.DESC
$(DEVICE):37.EGU
$(DEVICE):37.DHLM
$(DEVICE):37.DLLM
$(DEVICE):37.HLM
$(DEVICE):37.LLM
$(DEVICE):37.BL
$(DEVICE):37.BDST
$(DEVICE):37.HTYP
$(DEVICE):37.HSET
$(DEVICE):37.DIR
$(DEVICE):37.OFF
$(DEVICE):37.TWV
$(DEVICE):37.ACCL
$(DEVICE):37.VELO
$(DEVICE):37.HACC
$(DEVICE):37.HVEL
$(DEVICE):37.MINJ
$(DEVICE):37.MAXJ
$(DEVICE):37.RDBD
$(DEVICE):37.RTRY
$(DEVICE):37.UINT
$(DEVICE):37.PDBD
$(DEVICE):37.DRBV
$(DEVICE):37.RBV
$(DEVICE):37.DVAL
$(DEVICE):37.VAL

$(DEVICE):38.PTYP
$(DEVICE):38.DESC
$(DEVICE):38.EGU
$(DEVICE):38.DHLM
$(DEVICE):38.DLLM
$(DEVICE):38.HLM
$(DEVICE):38.LLM
$(DEVICE):38.BL
$(DEVICE):38.BDST
$(DEVICE):38.HTYP
$(DEVICE):38.HSET
$(DEVICE):38.DIR
$(DEVICE):38.OFF
$(DEVICE):38.TWV
$(DEVICE):38.ACCL
$(DEVICE):38.VELO
$(DEVICE):38.HACC
$(DEVICE):38.HVEL
$(DEVICE):38.MINJ
$(DEVICE):38.MAXJ
$(DEVICE):38.RDBD
$(DEVICE):38.RTRY
$(DEVICE):38.UINT
$(DEVICE):38.PDBD
$(DEVICE):38.DRBV
$(DEVICE):38.RBV
$(DEVICE):38.DVAL
$(DEVICE):38.VAL

$(DEVICE):39.PTYP
$(DEVICE):39.DESC
$(DEVICE):39.EGU
$(DEVICE):39.DHLM
$(DEVICE):39.DLLM
$(DEVICE):39.HLM
$(DEVICE):39.LLM
$(DEVICE):39.BL
$(DEVICE):39.BDST
$(DEVICE):39.HTYP
$(DEVICE):39.HSET
$(DEVICE):39.DIR
$(DEVICE):39.OFF
$(DEVICE):39.TWV
$(DEVICE):39.ACCL
$(DEVICE):39.VELO
$(DEVICE):39.HACC
$(DEVICE):39.HVEL
$(DEVICE):39.MINJ
$(DEVICE):39.MAXJ
$(DEVICE):39.RDBD
$(DEVICE):39.RTRY
$(DEVICE):39.UINT
$(DEVICE):39.PDBD
$(DEVICE):39.DRBV
$(DEVICE):39.RBV
$(DEVICE):39.DVAL
$(DEVICE):39.VAL

$(DEVICE):40.PTYP
$(DEVICE):40.DESC
$(DEVICE):40.EGU
$(DEVICE):40.DHLM
$(DEVICE):40.DLLM
$(DEVICE):40.HLM
$(DEVICE):40.LLM
$(DEVICE):40.BL
$(DEVICE):40.BDST
$(DEVICE):40.HTYP
$(DEVICE):40.HSET
$(DEVICE):40.DIR
$(DEVICE):40.OFF
$(DEVICE):40.TWV
$(DEVICE):40.ACCL
$(DEVICE):40.VELO
$(DEVICE):40.HACC
$(DEVICE):40.HVEL
$(DEVICE):40.MINJ
$(DEVICE):40.MAXJ
$(DEVICE):40.RDBD
$(DEVICE):40.RTRY
$(DEVICE):40.UINT
$(DEVICE):40.PDBD
$(DEVICE):40.DRBV
$(DEVICE):40.RBV
$(DEVICE):40.DVAL
$(DEVICE):40.VAL

