_1724:UpdateClock.SCAN
_1724:UpdateMultiplier

:17.DESC
:17.EGU
:17.DHLM
:17.DLLM
:17.HLM
:17.LLM
:17.BL
:17.BDST
:17.HTYP
:17.HSET
:17.DIR
:17.OFF
:17.TWV
:17.ACCL
:17.VELO
:17.HACC
:17.HVEL
:17.MINJ
:17.MAXJ
:17.RDBD
:17.RTRY
:17.UINT
:17.PDBD
:17.DRBV
:17.RBV
:17.DVAL
:17.VAL

:18.DESC
:18.EGU
:18.DHLM
:18.DLLM
:18.HLM
:18.LLM
:18.BL
:18.BDST
:18.HTYP
:18.HSET
:18.DIR
:18.OFF
:18.TWV
:18.ACCL
:18.VELO
:18.HACC
:18.HVEL
:18.MINJ
:18.MAXJ
:18.RDBD
:18.RTRY
:18.UINT
:18.PDBD
:18.DRBV
:18.RBV
:18.DVAL
:18.VAL

:19.DESC
:19.EGU
:19.DHLM
:19.DLLM
:19.HLM
:19.LLM
:19.BL
:19.BDST
:19.HTYP
:19.HSET
:19.DIR
:19.OFF
:19.TWV
:19.ACCL
:19.VELO
:19.HACC
:19.HVEL
:19.MINJ
:19.MAXJ
:19.RDBD
:19.RTRY
:19.UINT
:19.PDBD
:19.DRBV
:19.RBV
:19.DVAL
:19.VAL

:20.DESC
:20.EGU
:20.DHLM
:20.DLLM
:20.HLM
:20.LLM
:20.BL
:20.BDST
:20.HTYP
:20.HSET
:20.DIR
:20.OFF
:20.TWV
:20.ACCL
:20.VELO
:20.HACC
:20.HVEL
:20.MINJ
:20.MAXJ
:20.RDBD
:20.RTRY
:20.UINT
:20.PDBD
:20.DRBV
:20.RBV
:20.DVAL
:20.VAL

:21.DESC
:21.EGU
:21.DHLM
:21.DLLM
:21.HLM
:21.LLM
:21.BL
:21.BDST
:21.HTYP
:21.HSET
:21.DIR
:21.OFF
:21.TWV
:21.ACCL
:21.VELO
:21.HACC
:21.HVEL
:21.MINJ
:21.MAXJ
:21.RDBD
:21.RTRY
:21.UINT
:21.PDBD
:21.DRBV
:21.RBV
:21.DVAL
:21.VAL

:22.DESC
:22.EGU
:22.DHLM
:22.DLLM
:22.HLM
:22.LLM
:22.BL
:22.BDST
:22.HTYP
:22.HSET
:22.DIR
:22.OFF
:22.TWV
:22.ACCL
:22.VELO
:22.HACC
:22.HVEL
:22.MINJ
:22.MAXJ
:22.RDBD
:22.RTRY
:22.UINT
:22.PDBD
:22.DRBV
:22.RBV
:22.DVAL
:22.VAL

:23.DESC
:23.EGU
:23.DHLM
:23.DLLM
:23.HLM
:23.LLM
:23.BL
:23.BDST
:23.HTYP
:23.HSET
:23.DIR
:23.OFF
:23.TWV
:23.ACCL
:23.VELO
:23.HACC
:23.HVEL
:23.MINJ
:23.MAXJ
:23.RDBD
:23.RTRY
:23.UINT
:23.PDBD
:23.DRBV
:23.RBV
:23.DVAL
:23.VAL

:24.DESC
:24.EGU
:24.DHLM
:24.DLLM
:24.HLM
:24.LLM
:24.BL
:24.BDST
:24.HTYP
:24.HSET
:24.DIR
:24.OFF
:24.TWV
:24.ACCL
:24.VELO
:24.HACC
:24.HVEL
:24.MINJ
:24.MAXJ
:24.RDBD
:24.RTRY
:24.UINT
:24.PDBD
:24.DRBV
:24.RBV
:24.DVAL
:24.VAL

