$(DEVICE)_4148:UpdateClock.SCAN    86400    monitor
$(DEVICE)_4148:UpdateMultiplier    86400    monitor

$(DEVICE):41.DESC    86400    monitor
$(DEVICE):41.EGU     86400    monitor
$(DEVICE):41.VAL     86400    monitor
$(DEVICE):41.DVAL    86400    monitor
$(DEVICE):41.DRBV    86400    monitor
$(DEVICE):41.RBV     86400    monitor
$(DEVICE):41.DMOV    86400    monitor
$(DEVICE):41.MSTA    86400    monitor
$(DEVICE):41.DHLM    86400    monitor
$(DEVICE):41.DLLM    86400    monitor
$(DEVICE):41.HLM     86400    monitor
$(DEVICE):41.LLM     86400    monitor
$(DEVICE):41.BL      86400    monitor
$(DEVICE):41.BDST    86400    monitor
$(DEVICE):41.HTYP    86400    monitor
$(DEVICE):41.HSET    86400    monitor
$(DEVICE):41.DIR     86400    monitor
$(DEVICE):41.OFF     86400    monitor
$(DEVICE):41.TWV     86400    monitor
$(DEVICE):41.ACCL    86400    monitor
$(DEVICE):41.VELO    86400    monitor
$(DEVICE):41.HACC    86400    monitor
$(DEVICE):41.HVEL    86400    monitor
$(DEVICE):41.MINJ    86400    monitor
$(DEVICE):41.MAXJ    86400    monitor
$(DEVICE):41.RDBD    86400    monitor
$(DEVICE):41.RTRY    86400    monitor
$(DEVICE):41.UINT    86400    monitor
$(DEVICE):41.PDBD    86400    monitor

$(DEVICE):42.DESC    86400    monitor
$(DEVICE):42.EGU     86400    monitor
$(DEVICE):42.VAL     86400    monitor
$(DEVICE):42.DVAL    86400    monitor
$(DEVICE):42.DRBV    86400    monitor
$(DEVICE):42.RBV     86400    monitor
$(DEVICE):42.DMOV    86400    monitor
$(DEVICE):42.MSTA    86400    monitor
$(DEVICE):42.DHLM    86400    monitor
$(DEVICE):42.DLLM    86400    monitor
$(DEVICE):42.HLM     86400    monitor
$(DEVICE):42.LLM     86400    monitor
$(DEVICE):42.BL      86400    monitor
$(DEVICE):42.BDST    86400    monitor
$(DEVICE):42.HTYP    86400    monitor
$(DEVICE):42.HSET    86400    monitor
$(DEVICE):42.DIR     86400    monitor
$(DEVICE):42.OFF     86400    monitor
$(DEVICE):42.TWV     86400    monitor
$(DEVICE):42.ACCL    86400    monitor
$(DEVICE):42.VELO    86400    monitor
$(DEVICE):42.HACC    86400    monitor
$(DEVICE):42.HVEL    86400    monitor
$(DEVICE):42.MINJ    86400    monitor
$(DEVICE):42.MAXJ    86400    monitor
$(DEVICE):42.RDBD    86400    monitor
$(DEVICE):42.RTRY    86400    monitor
$(DEVICE):42.UINT    86400    monitor
$(DEVICE):42.PDBD    86400    monitor

$(DEVICE):43.DESC    86400    monitor
$(DEVICE):43.EGU     86400    monitor
$(DEVICE):43.VAL     86400    monitor
$(DEVICE):43.DVAL    86400    monitor
$(DEVICE):43.DRBV    86400    monitor
$(DEVICE):43.RBV     86400    monitor
$(DEVICE):43.DMOV    86400    monitor
$(DEVICE):43.MSTA    86400    monitor
$(DEVICE):43.DHLM    86400    monitor
$(DEVICE):43.DLLM    86400    monitor
$(DEVICE):43.HLM     86400    monitor
$(DEVICE):43.LLM     86400    monitor
$(DEVICE):43.BL      86400    monitor
$(DEVICE):43.BDST    86400    monitor
$(DEVICE):43.HTYP    86400    monitor
$(DEVICE):43.HSET    86400    monitor
$(DEVICE):43.DIR     86400    monitor
$(DEVICE):43.OFF     86400    monitor
$(DEVICE):43.TWV     86400    monitor
$(DEVICE):43.ACCL    86400    monitor
$(DEVICE):43.VELO    86400    monitor
$(DEVICE):43.HACC    86400    monitor
$(DEVICE):43.HVEL    86400    monitor
$(DEVICE):43.MINJ    86400    monitor
$(DEVICE):43.MAXJ    86400    monitor
$(DEVICE):43.RDBD    86400    monitor
$(DEVICE):43.RTRY    86400    monitor
$(DEVICE):43.UINT    86400    monitor
$(DEVICE):43.PDBD    86400    monitor

$(DEVICE):44.DESC    86400    monitor
$(DEVICE):44.EGU     86400    monitor
$(DEVICE):44.VAL     86400    monitor
$(DEVICE):44.DVAL    86400    monitor
$(DEVICE):44.DRBV    86400    monitor
$(DEVICE):44.RBV     86400    monitor
$(DEVICE):44.DMOV    86400    monitor
$(DEVICE):44.MSTA    86400    monitor
$(DEVICE):44.DHLM    86400    monitor
$(DEVICE):44.DLLM    86400    monitor
$(DEVICE):44.HLM     86400    monitor
$(DEVICE):44.LLM     86400    monitor
$(DEVICE):44.BL      86400    monitor
$(DEVICE):44.BDST    86400    monitor
$(DEVICE):44.HTYP    86400    monitor
$(DEVICE):44.HSET    86400    monitor
$(DEVICE):44.DIR     86400    monitor
$(DEVICE):44.OFF     86400    monitor
$(DEVICE):44.TWV     86400    monitor
$(DEVICE):44.ACCL    86400    monitor
$(DEVICE):44.VELO    86400    monitor
$(DEVICE):44.HACC    86400    monitor
$(DEVICE):44.HVEL    86400    monitor
$(DEVICE):44.MINJ    86400    monitor
$(DEVICE):44.MAXJ    86400    monitor
$(DEVICE):44.RDBD    86400    monitor
$(DEVICE):44.RTRY    86400    monitor
$(DEVICE):44.UINT    86400    monitor
$(DEVICE):44.PDBD    86400    monitor

$(DEVICE):45.DESC    86400    monitor
$(DEVICE):45.EGU     86400    monitor
$(DEVICE):45.VAL     86400    monitor
$(DEVICE):45.DVAL    86400    monitor
$(DEVICE):45.DRBV    86400    monitor
$(DEVICE):45.RBV     86400    monitor
$(DEVICE):45.DMOV    86400    monitor
$(DEVICE):45.MSTA    86400    monitor
$(DEVICE):45.DHLM    86400    monitor
$(DEVICE):45.DLLM    86400    monitor
$(DEVICE):45.HLM     86400    monitor
$(DEVICE):45.LLM     86400    monitor
$(DEVICE):45.BL      86400    monitor
$(DEVICE):45.BDST    86400    monitor
$(DEVICE):45.HTYP    86400    monitor
$(DEVICE):45.HSET    86400    monitor
$(DEVICE):45.DIR     86400    monitor
$(DEVICE):45.OFF     86400    monitor
$(DEVICE):45.TWV     86400    monitor
$(DEVICE):45.ACCL    86400    monitor
$(DEVICE):45.VELO    86400    monitor
$(DEVICE):45.HACC    86400    monitor
$(DEVICE):45.HVEL    86400    monitor
$(DEVICE):45.MINJ    86400    monitor
$(DEVICE):45.MAXJ    86400    monitor
$(DEVICE):45.RDBD    86400    monitor
$(DEVICE):45.RTRY    86400    monitor
$(DEVICE):45.UINT    86400    monitor
$(DEVICE):45.PDBD    86400    monitor

$(DEVICE):46.DESC    86400    monitor
$(DEVICE):46.EGU     86400    monitor
$(DEVICE):46.VAL     86400    monitor
$(DEVICE):46.DVAL    86400    monitor
$(DEVICE):46.DRBV    86400    monitor
$(DEVICE):46.RBV     86400    monitor
$(DEVICE):46.DMOV    86400    monitor
$(DEVICE):46.MSTA    86400    monitor
$(DEVICE):46.DHLM    86400    monitor
$(DEVICE):46.DLLM    86400    monitor
$(DEVICE):46.HLM     86400    monitor
$(DEVICE):46.LLM     86400    monitor
$(DEVICE):46.BL      86400    monitor
$(DEVICE):46.BDST    86400    monitor
$(DEVICE):46.HTYP    86400    monitor
$(DEVICE):46.HSET    86400    monitor
$(DEVICE):46.DIR     86400    monitor
$(DEVICE):46.OFF     86400    monitor
$(DEVICE):46.TWV     86400    monitor
$(DEVICE):46.ACCL    86400    monitor
$(DEVICE):46.VELO    86400    monitor
$(DEVICE):46.HACC    86400    monitor
$(DEVICE):46.HVEL    86400    monitor
$(DEVICE):46.MINJ    86400    monitor
$(DEVICE):46.MAXJ    86400    monitor
$(DEVICE):46.RDBD    86400    monitor
$(DEVICE):46.RTRY    86400    monitor
$(DEVICE):46.UINT    86400    monitor
$(DEVICE):46.PDBD    86400    monitor

$(DEVICE):47.DESC    86400    monitor
$(DEVICE):47.EGU     86400    monitor
$(DEVICE):47.VAL     86400    monitor
$(DEVICE):47.DVAL    86400    monitor
$(DEVICE):47.DRBV    86400    monitor
$(DEVICE):47.RBV     86400    monitor
$(DEVICE):47.DMOV    86400    monitor
$(DEVICE):47.MSTA    86400    monitor
$(DEVICE):47.DHLM    86400    monitor
$(DEVICE):47.DLLM    86400    monitor
$(DEVICE):47.HLM     86400    monitor
$(DEVICE):47.LLM     86400    monitor
$(DEVICE):47.BL      86400    monitor
$(DEVICE):47.BDST    86400    monitor
$(DEVICE):47.HTYP    86400    monitor
$(DEVICE):47.HSET    86400    monitor
$(DEVICE):47.DIR     86400    monitor
$(DEVICE):47.OFF     86400    monitor
$(DEVICE):47.TWV     86400    monitor
$(DEVICE):47.ACCL    86400    monitor
$(DEVICE):47.VELO    86400    monitor
$(DEVICE):47.HACC    86400    monitor
$(DEVICE):47.HVEL    86400    monitor
$(DEVICE):47.MINJ    86400    monitor
$(DEVICE):47.MAXJ    86400    monitor
$(DEVICE):47.RDBD    86400    monitor
$(DEVICE):47.RTRY    86400    monitor
$(DEVICE):47.UINT    86400    monitor
$(DEVICE):47.PDBD    86400    monitor

$(DEVICE):48.DESC    86400    monitor
$(DEVICE):48.EGU     86400    monitor
$(DEVICE):48.VAL     86400    monitor
$(DEVICE):48.DVAL    86400    monitor
$(DEVICE):48.DRBV    86400    monitor
$(DEVICE):48.RBV     86400    monitor
$(DEVICE):48.DMOV    86400    monitor
$(DEVICE):48.MSTA    86400    monitor
$(DEVICE):48.DHLM    86400    monitor
$(DEVICE):48.DLLM    86400    monitor
$(DEVICE):48.HLM     86400    monitor
$(DEVICE):48.LLM     86400    monitor
$(DEVICE):48.BL      86400    monitor
$(DEVICE):48.BDST    86400    monitor
$(DEVICE):48.HTYP    86400    monitor
$(DEVICE):48.HSET    86400    monitor
$(DEVICE):48.DIR     86400    monitor
$(DEVICE):48.OFF     86400    monitor
$(DEVICE):48.TWV     86400    monitor
$(DEVICE):48.ACCL    86400    monitor
$(DEVICE):48.VELO    86400    monitor
$(DEVICE):48.HACC    86400    monitor
$(DEVICE):48.HVEL    86400    monitor
$(DEVICE):48.MINJ    86400    monitor
$(DEVICE):48.MAXJ    86400    monitor
$(DEVICE):48.RDBD    86400    monitor
$(DEVICE):48.RTRY    86400    monitor
$(DEVICE):48.UINT    86400    monitor
$(DEVICE):48.PDBD    86400    monitor

