$(DEVICE)_2532:UpdateClock.SCAN    86400    monitor
$(DEVICE)_2532:UpdateMultiplier    86400    monitor

$(DEVICE):25.DESC    86400    monitor
$(DEVICE):25.EGU     86400    monitor
$(DEVICE):25.VAL     86400    monitor
$(DEVICE):25.DVAL    86400    monitor
$(DEVICE):25.DRBV    86400    monitor
$(DEVICE):25.RBV     86400    monitor
$(DEVICE):25.DMOV    86400    monitor
$(DEVICE):25.MSTA    86400    monitor
$(DEVICE):25.DHLM    86400    monitor
$(DEVICE):25.DLLM    86400    monitor
$(DEVICE):25.HLM     86400    monitor
$(DEVICE):25.LLM     86400    monitor
$(DEVICE):25.BL      86400    monitor
$(DEVICE):25.BDST    86400    monitor
$(DEVICE):25.HTYP    86400    monitor
$(DEVICE):25.HSET    86400    monitor
$(DEVICE):25.DIR     86400    monitor
$(DEVICE):25.OFF     86400    monitor
$(DEVICE):25.TWV     86400    monitor
$(DEVICE):25.ACCL    86400    monitor
$(DEVICE):25.VELO    86400    monitor
$(DEVICE):25.HACC    86400    monitor
$(DEVICE):25.HVEL    86400    monitor
$(DEVICE):25.MINJ    86400    monitor
$(DEVICE):25.MAXJ    86400    monitor
$(DEVICE):25.RDBD    86400    monitor
$(DEVICE):25.RTRY    86400    monitor
$(DEVICE):25.UINT    86400    monitor
$(DEVICE):25.PDBD    86400    monitor

$(DEVICE):26.DESC    86400    monitor
$(DEVICE):26.EGU     86400    monitor
$(DEVICE):26.VAL     86400    monitor
$(DEVICE):26.DVAL    86400    monitor
$(DEVICE):26.DRBV    86400    monitor
$(DEVICE):26.RBV     86400    monitor
$(DEVICE):26.DMOV    86400    monitor
$(DEVICE):26.MSTA    86400    monitor
$(DEVICE):26.DHLM    86400    monitor
$(DEVICE):26.DLLM    86400    monitor
$(DEVICE):26.HLM     86400    monitor
$(DEVICE):26.LLM     86400    monitor
$(DEVICE):26.BL      86400    monitor
$(DEVICE):26.BDST    86400    monitor
$(DEVICE):26.HTYP    86400    monitor
$(DEVICE):26.HSET    86400    monitor
$(DEVICE):26.DIR     86400    monitor
$(DEVICE):26.OFF     86400    monitor
$(DEVICE):26.TWV     86400    monitor
$(DEVICE):26.ACCL    86400    monitor
$(DEVICE):26.VELO    86400    monitor
$(DEVICE):26.HACC    86400    monitor
$(DEVICE):26.HVEL    86400    monitor
$(DEVICE):26.MINJ    86400    monitor
$(DEVICE):26.MAXJ    86400    monitor
$(DEVICE):26.RDBD    86400    monitor
$(DEVICE):26.RTRY    86400    monitor
$(DEVICE):26.UINT    86400    monitor
$(DEVICE):26.PDBD    86400    monitor

$(DEVICE):27.DESC    86400    monitor
$(DEVICE):27.EGU     86400    monitor
$(DEVICE):27.VAL     86400    monitor
$(DEVICE):27.DVAL    86400    monitor
$(DEVICE):27.DRBV    86400    monitor
$(DEVICE):27.RBV     86400    monitor
$(DEVICE):27.DMOV    86400    monitor
$(DEVICE):27.MSTA    86400    monitor
$(DEVICE):27.DHLM    86400    monitor
$(DEVICE):27.DLLM    86400    monitor
$(DEVICE):27.HLM     86400    monitor
$(DEVICE):27.LLM     86400    monitor
$(DEVICE):27.BL      86400    monitor
$(DEVICE):27.BDST    86400    monitor
$(DEVICE):27.HTYP    86400    monitor
$(DEVICE):27.HSET    86400    monitor
$(DEVICE):27.DIR     86400    monitor
$(DEVICE):27.OFF     86400    monitor
$(DEVICE):27.TWV     86400    monitor
$(DEVICE):27.ACCL    86400    monitor
$(DEVICE):27.VELO    86400    monitor
$(DEVICE):27.HACC    86400    monitor
$(DEVICE):27.HVEL    86400    monitor
$(DEVICE):27.MINJ    86400    monitor
$(DEVICE):27.MAXJ    86400    monitor
$(DEVICE):27.RDBD    86400    monitor
$(DEVICE):27.RTRY    86400    monitor
$(DEVICE):27.UINT    86400    monitor
$(DEVICE):27.PDBD    86400    monitor

$(DEVICE):28.DESC    86400    monitor
$(DEVICE):28.EGU     86400    monitor
$(DEVICE):28.VAL     86400    monitor
$(DEVICE):28.DVAL    86400    monitor
$(DEVICE):28.DRBV    86400    monitor
$(DEVICE):28.RBV     86400    monitor
$(DEVICE):28.DMOV    86400    monitor
$(DEVICE):28.MSTA    86400    monitor
$(DEVICE):28.DHLM    86400    monitor
$(DEVICE):28.DLLM    86400    monitor
$(DEVICE):28.HLM     86400    monitor
$(DEVICE):28.LLM     86400    monitor
$(DEVICE):28.BL      86400    monitor
$(DEVICE):28.BDST    86400    monitor
$(DEVICE):28.HTYP    86400    monitor
$(DEVICE):28.HSET    86400    monitor
$(DEVICE):28.DIR     86400    monitor
$(DEVICE):28.OFF     86400    monitor
$(DEVICE):28.TWV     86400    monitor
$(DEVICE):28.ACCL    86400    monitor
$(DEVICE):28.VELO    86400    monitor
$(DEVICE):28.HACC    86400    monitor
$(DEVICE):28.HVEL    86400    monitor
$(DEVICE):28.MINJ    86400    monitor
$(DEVICE):28.MAXJ    86400    monitor
$(DEVICE):28.RDBD    86400    monitor
$(DEVICE):28.RTRY    86400    monitor
$(DEVICE):28.UINT    86400    monitor
$(DEVICE):28.PDBD    86400    monitor

$(DEVICE):29.DESC    86400    monitor
$(DEVICE):29.EGU     86400    monitor
$(DEVICE):29.VAL     86400    monitor
$(DEVICE):29.DVAL    86400    monitor
$(DEVICE):29.DRBV    86400    monitor
$(DEVICE):29.RBV     86400    monitor
$(DEVICE):29.DMOV    86400    monitor
$(DEVICE):29.MSTA    86400    monitor
$(DEVICE):29.DHLM    86400    monitor
$(DEVICE):29.DLLM    86400    monitor
$(DEVICE):29.HLM     86400    monitor
$(DEVICE):29.LLM     86400    monitor
$(DEVICE):29.BL      86400    monitor
$(DEVICE):29.BDST    86400    monitor
$(DEVICE):29.HTYP    86400    monitor
$(DEVICE):29.HSET    86400    monitor
$(DEVICE):29.DIR     86400    monitor
$(DEVICE):29.OFF     86400    monitor
$(DEVICE):29.TWV     86400    monitor
$(DEVICE):29.ACCL    86400    monitor
$(DEVICE):29.VELO    86400    monitor
$(DEVICE):29.HACC    86400    monitor
$(DEVICE):29.HVEL    86400    monitor
$(DEVICE):29.MINJ    86400    monitor
$(DEVICE):29.MAXJ    86400    monitor
$(DEVICE):29.RDBD    86400    monitor
$(DEVICE):29.RTRY    86400    monitor
$(DEVICE):29.UINT    86400    monitor
$(DEVICE):29.PDBD    86400    monitor

$(DEVICE):30.DESC    86400    monitor
$(DEVICE):30.EGU     86400    monitor
$(DEVICE):30.VAL     86400    monitor
$(DEVICE):30.DVAL    86400    monitor
$(DEVICE):30.DRBV    86400    monitor
$(DEVICE):30.RBV     86400    monitor
$(DEVICE):30.DMOV    86400    monitor
$(DEVICE):30.MSTA    86400    monitor
$(DEVICE):30.DHLM    86400    monitor
$(DEVICE):30.DLLM    86400    monitor
$(DEVICE):30.HLM     86400    monitor
$(DEVICE):30.LLM     86400    monitor
$(DEVICE):30.BL      86400    monitor
$(DEVICE):30.BDST    86400    monitor
$(DEVICE):30.HTYP    86400    monitor
$(DEVICE):30.HSET    86400    monitor
$(DEVICE):30.DIR     86400    monitor
$(DEVICE):30.OFF     86400    monitor
$(DEVICE):30.TWV     86400    monitor
$(DEVICE):30.ACCL    86400    monitor
$(DEVICE):30.VELO    86400    monitor
$(DEVICE):30.HACC    86400    monitor
$(DEVICE):30.HVEL    86400    monitor
$(DEVICE):30.MINJ    86400    monitor
$(DEVICE):30.MAXJ    86400    monitor
$(DEVICE):30.RDBD    86400    monitor
$(DEVICE):30.RTRY    86400    monitor
$(DEVICE):30.UINT    86400    monitor
$(DEVICE):30.PDBD    86400    monitor

$(DEVICE):31.DESC    86400    monitor
$(DEVICE):31.EGU     86400    monitor
$(DEVICE):31.VAL     86400    monitor
$(DEVICE):31.DVAL    86400    monitor
$(DEVICE):31.DRBV    86400    monitor
$(DEVICE):31.RBV     86400    monitor
$(DEVICE):31.DMOV    86400    monitor
$(DEVICE):31.MSTA    86400    monitor
$(DEVICE):31.DHLM    86400    monitor
$(DEVICE):31.DLLM    86400    monitor
$(DEVICE):31.HLM     86400    monitor
$(DEVICE):31.LLM     86400    monitor
$(DEVICE):31.BL      86400    monitor
$(DEVICE):31.BDST    86400    monitor
$(DEVICE):31.HTYP    86400    monitor
$(DEVICE):31.HSET    86400    monitor
$(DEVICE):31.DIR     86400    monitor
$(DEVICE):31.OFF     86400    monitor
$(DEVICE):31.TWV     86400    monitor
$(DEVICE):31.ACCL    86400    monitor
$(DEVICE):31.VELO    86400    monitor
$(DEVICE):31.HACC    86400    monitor
$(DEVICE):31.HVEL    86400    monitor
$(DEVICE):31.MINJ    86400    monitor
$(DEVICE):31.MAXJ    86400    monitor
$(DEVICE):31.RDBD    86400    monitor
$(DEVICE):31.RTRY    86400    monitor
$(DEVICE):31.UINT    86400    monitor
$(DEVICE):31.PDBD    86400    monitor

$(DEVICE):32.DESC    86400    monitor
$(DEVICE):32.EGU     86400    monitor
$(DEVICE):32.VAL     86400    monitor
$(DEVICE):32.DVAL    86400    monitor
$(DEVICE):32.DRBV    86400    monitor
$(DEVICE):32.RBV     86400    monitor
$(DEVICE):32.DMOV    86400    monitor
$(DEVICE):32.MSTA    86400    monitor
$(DEVICE):32.DHLM    86400    monitor
$(DEVICE):32.DLLM    86400    monitor
$(DEVICE):32.HLM     86400    monitor
$(DEVICE):32.LLM     86400    monitor
$(DEVICE):32.BL      86400    monitor
$(DEVICE):32.BDST    86400    monitor
$(DEVICE):32.HTYP    86400    monitor
$(DEVICE):32.HSET    86400    monitor
$(DEVICE):32.DIR     86400    monitor
$(DEVICE):32.OFF     86400    monitor
$(DEVICE):32.TWV     86400    monitor
$(DEVICE):32.ACCL    86400    monitor
$(DEVICE):32.VELO    86400    monitor
$(DEVICE):32.HACC    86400    monitor
$(DEVICE):32.HVEL    86400    monitor
$(DEVICE):32.MINJ    86400    monitor
$(DEVICE):32.MAXJ    86400    monitor
$(DEVICE):32.RDBD    86400    monitor
$(DEVICE):32.RTRY    86400    monitor
$(DEVICE):32.UINT    86400    monitor
$(DEVICE):32.PDBD    86400    monitor

