$(DEVICE)_0916:UpdateClock.SCAN
$(DEVICE)_0916:UpdateMultiplier

$(DEVICE):09.DESC
$(DEVICE):09.EGU
$(DEVICE):09.DHLM
$(DEVICE):09.DLLM
$(DEVICE):09.HLM
$(DEVICE):09.LLM
$(DEVICE):09.BL
$(DEVICE):09.BDST
$(DEVICE):09.HTYP
$(DEVICE):09.HSET
$(DEVICE):09.DIR
$(DEVICE):09.OFF
$(DEVICE):09.TWV
$(DEVICE):09.ACCL
$(DEVICE):09.VELO
$(DEVICE):09.HACC
$(DEVICE):09.HVEL
$(DEVICE):09.MINJ
$(DEVICE):09.MAXJ
$(DEVICE):09.RDBD
$(DEVICE):09.RTRY
$(DEVICE):09.UINT
$(DEVICE):09.PDBD
$(DEVICE):09.DRBV
$(DEVICE):09.RBV
$(DEVICE):09.DVAL
$(DEVICE):09.VAL

$(DEVICE):10.DESC
$(DEVICE):10.EGU
$(DEVICE):10.DHLM
$(DEVICE):10.DLLM
$(DEVICE):10.HLM
$(DEVICE):10.LLM
$(DEVICE):10.BL
$(DEVICE):10.BDST
$(DEVICE):10.HTYP
$(DEVICE):10.HSET
$(DEVICE):10.DIR
$(DEVICE):10.OFF
$(DEVICE):10.TWV
$(DEVICE):10.ACCL
$(DEVICE):10.VELO
$(DEVICE):10.HACC
$(DEVICE):10.HVEL
$(DEVICE):10.MINJ
$(DEVICE):10.MAXJ
$(DEVICE):10.RDBD
$(DEVICE):10.RTRY
$(DEVICE):10.UINT
$(DEVICE):10.PDBD
$(DEVICE):10.DRBV
$(DEVICE):10.RBV
$(DEVICE):10.DVAL
$(DEVICE):10.VAL

$(DEVICE):11.DESC
$(DEVICE):11.EGU
$(DEVICE):11.DHLM
$(DEVICE):11.DLLM
$(DEVICE):11.HLM
$(DEVICE):11.LLM
$(DEVICE):11.BL
$(DEVICE):11.BDST
$(DEVICE):11.HTYP
$(DEVICE):11.HSET
$(DEVICE):11.DIR
$(DEVICE):11.OFF
$(DEVICE):11.TWV
$(DEVICE):11.ACCL
$(DEVICE):11.VELO
$(DEVICE):11.HACC
$(DEVICE):11.HVEL
$(DEVICE):11.MINJ
$(DEVICE):11.MAXJ
$(DEVICE):11.RDBD
$(DEVICE):11.RTRY
$(DEVICE):11.UINT
$(DEVICE):11.PDBD
$(DEVICE):11.DRBV
$(DEVICE):11.RBV
$(DEVICE):11.DVAL
$(DEVICE):11.VAL

$(DEVICE):12.DESC
$(DEVICE):12.EGU
$(DEVICE):12.DHLM
$(DEVICE):12.DLLM
$(DEVICE):12.HLM
$(DEVICE):12.LLM
$(DEVICE):12.BL
$(DEVICE):12.BDST
$(DEVICE):12.HTYP
$(DEVICE):12.HSET
$(DEVICE):12.DIR
$(DEVICE):12.OFF
$(DEVICE):12.TWV
$(DEVICE):12.ACCL
$(DEVICE):12.VELO
$(DEVICE):12.HACC
$(DEVICE):12.HVEL
$(DEVICE):12.MINJ
$(DEVICE):12.MAXJ
$(DEVICE):12.RDBD
$(DEVICE):12.RTRY
$(DEVICE):12.UINT
$(DEVICE):12.PDBD
$(DEVICE):12.DRBV
$(DEVICE):12.RBV
$(DEVICE):12.DVAL
$(DEVICE):12.VAL

$(DEVICE):13.DESC
$(DEVICE):13.EGU
$(DEVICE):13.DHLM
$(DEVICE):13.DLLM
$(DEVICE):13.HLM
$(DEVICE):13.LLM
$(DEVICE):13.BL
$(DEVICE):13.BDST
$(DEVICE):13.HTYP
$(DEVICE):13.HSET
$(DEVICE):13.DIR
$(DEVICE):13.OFF
$(DEVICE):13.TWV
$(DEVICE):13.ACCL
$(DEVICE):13.VELO
$(DEVICE):13.HACC
$(DEVICE):13.HVEL
$(DEVICE):13.MINJ
$(DEVICE):13.MAXJ
$(DEVICE):13.RDBD
$(DEVICE):13.RTRY
$(DEVICE):13.UINT
$(DEVICE):13.PDBD
$(DEVICE):13.DRBV
$(DEVICE):13.RBV
$(DEVICE):13.DVAL
$(DEVICE):13.VAL

$(DEVICE):14.DESC
$(DEVICE):14.EGU
$(DEVICE):14.DHLM
$(DEVICE):14.DLLM
$(DEVICE):14.HLM
$(DEVICE):14.LLM
$(DEVICE):14.BL
$(DEVICE):14.BDST
$(DEVICE):14.HTYP
$(DEVICE):14.HSET
$(DEVICE):14.DIR
$(DEVICE):14.OFF
$(DEVICE):14.TWV
$(DEVICE):14.ACCL
$(DEVICE):14.VELO
$(DEVICE):14.HACC
$(DEVICE):14.HVEL
$(DEVICE):14.MINJ
$(DEVICE):14.MAXJ
$(DEVICE):14.RDBD
$(DEVICE):14.RTRY
$(DEVICE):14.UINT
$(DEVICE):14.PDBD
$(DEVICE):14.DRBV
$(DEVICE):14.RBV
$(DEVICE):14.DVAL
$(DEVICE):14.VAL

$(DEVICE):15.DESC
$(DEVICE):15.EGU
$(DEVICE):15.DHLM
$(DEVICE):15.DLLM
$(DEVICE):15.HLM
$(DEVICE):15.LLM
$(DEVICE):15.BL
$(DEVICE):15.BDST
$(DEVICE):15.HTYP
$(DEVICE):15.HSET
$(DEVICE):15.DIR
$(DEVICE):15.OFF
$(DEVICE):15.TWV
$(DEVICE):15.ACCL
$(DEVICE):15.VELO
$(DEVICE):15.HACC
$(DEVICE):15.HVEL
$(DEVICE):15.MINJ
$(DEVICE):15.MAXJ
$(DEVICE):15.RDBD
$(DEVICE):15.RTRY
$(DEVICE):15.UINT
$(DEVICE):15.PDBD
$(DEVICE):15.DRBV
$(DEVICE):15.RBV
$(DEVICE):15.DVAL
$(DEVICE):15.VAL

$(DEVICE):16.DESC
$(DEVICE):16.EGU
$(DEVICE):16.DHLM
$(DEVICE):16.DLLM
$(DEVICE):16.HLM
$(DEVICE):16.LLM
$(DEVICE):16.BL
$(DEVICE):16.BDST
$(DEVICE):16.HTYP
$(DEVICE):16.HSET
$(DEVICE):16.DIR
$(DEVICE):16.OFF
$(DEVICE):16.TWV
$(DEVICE):16.ACCL
$(DEVICE):16.VELO
$(DEVICE):16.HACC
$(DEVICE):16.HVEL
$(DEVICE):16.MINJ
$(DEVICE):16.MAXJ
$(DEVICE):16.RDBD
$(DEVICE):16.RTRY
$(DEVICE):16.UINT
$(DEVICE):16.PDBD
$(DEVICE):16.DRBV
$(DEVICE):16.RBV
$(DEVICE):16.DVAL
$(DEVICE):16.VAL

